<mat-toolbar-row class="logo-toolbar " style="margin-bottom: 25px!important;">
    <div class="container row col-md-12">
        <div class="col-md-9 col-xs-9 text-center" style="padding-left: 30%;">
    <a class="logo" routerLink="/" (click)="closeSubMenus()" style="text-align: center;text-decoration: none;">
        <img src="assets/images/others/logo.png" style="width: 5%;">
        <p style="margin-top: 1%;">TechPlus</p>
<!--        <mat-icon _ngcontent-c15="" class="mat-icon-lg w3-text-orange mat-icon material-icons" role="img" aria-hidden="true">shopping_cart</mat-icon>-->
    </a>
        </div>
        <div class="col-md-3 col-xs-3" style="padding-top: 2%;">
            <div class="row">
            <div class="col-md-9 col-xs-9">
            <div  *ngIf="toggle_search">
                <form method="get" class="search-form" fxLayout="row" style="float: right;height: 35px;">
        <!--            <button mat-raised-button [matMenuTriggerFor]="categoriesMenu"-->
        <!--                    #categoriesMenuTrigger="matMenuTrigger" type="button"-->
        <!--                    class="mat-elevation-z0 categories text-truncate text-muted">{{'Shared.Categories'|translate}}-->
        <!--                <mat-icon>arrow_drop_down</mat-icon>-->
        <!--            </button>-->
        <!--            <mat-menu #categoriesMenu="matMenu" [overlapTrigger]="false" xPosition="before"-->
        <!--                      class="categories-dropdown">-->
        <!--                        <span (mouseleave)="categoriesMenuTrigger.closeMenu()">-->
        <!--                            <app-category-list [categories]="categories" [categoryParentId]="0"-->
        <!--                                               (change)="changeCategory($event)"></app-category-list>-->
        <!--                        </span>-->
        <!--            </mat-menu>-->

                        <input type="text" style="color:black;font-size: 12pt;" placeholder="{{'Shared.TypeToSearch'|translate}}" fxFlex (keyup)="searchData($event.target.value)">
                        <button mat-mini-fab (click)="search_hide()" type="button"
                                class="search-btn mat-elevation-z0 text-muted" >
                            <mat-icon style="color: orangered;">search</mat-icon>
                        </button>

                </form>
            </div>
            <span  (click)="search_show()" *ngIf="!toggle_search" style="margin-top: 5px;float:right;color:orangered;cursor: pointer;"><mat-icon >search</mat-icon></span>
            </div>
            <div class="col-md-3 col-xs-3">
            <div fxFlexOffset="10" fxLayout="row" fxLayoutAlign="center center">
                <app-spurt-cart></app-spurt-cart>
            </div>
            <app-top-menu></app-top-menu>
            </div>
        </div>
        </div>
    </div>
</mat-toolbar-row>
