<div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center" >
    <button mat-fab color="primary"><mat-icon>check</mat-icon></button>
    <h2 class="py-2">{{'checkout.Congratulation!'|translate}}</h2>
    <p class="text-muted lh">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus dolor ante, ut luctus mi faucibus a. Ut eu tincidunt neque. Proin porttitor id ligula id placerat. Integer nec nulla varius, dapibus libero quis, semper eros. Aliquam erat volutpat. Proin volutpat tellus vel purus interdum euismod.</p>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
    <a [routerLink]="['/']" mat-raised-button color="primary">{{'checkout.ReturnToShop'|translate}}</a>
</div>
