<mat-toolbar class="  top-navbar " fxLayoutAlign="center center " style="height:90px;background: white;border-bottom: 1px solid #e6e2e2;">
    <a   (click)="homePage()" style="text-decoration: none;" class="a_link"
       routerLink="/" 
       routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}">{{'Shared.Home'|translate}}</a>
    <a   style="text-decoration: none;" class="a_link"
       (click)="getProduct();sendUniqueId('productFilter')" 
       [routerLink]="['/products']"
       routerLinkActive="horizontal-active-link" 
       [routerLinkActiveOptions]="{exact:true}">
       {{'Shared.AllProducts'|translate}}
    </a>



        <a   style="text-decoration: none;" class="a_link"
            routerLinkActive="horizontal-active-link"
            *ngFor="let category of categories;let i=index"
            [routerLinkActiveOptions]="{exact:true}"
           [routerLink]="['/products', category.categoryId]">{{category.name}}
               </a>

    <mat-menu #menu="matMenu" [overlapTrigger]="false" class=" mega-menu app-dropdown" >
       <span (mouseleave)="leaveMouse($event)">
        <div fxLayout="row wrap" *ngIf="((index)||(index === 0))">
            <div fxFlex="20" fxLayout="column" class="p-1" 
               *ngFor="let subCategory of categories[index].children">
                <a mat-menu-item [routerLink]="['/products', subCategory.categoryId]"
                   [routerLinkActiveOptions]="{exact:true}"
                   (click)="linkActive()" style="text-decoration: none;"
                   routerLinkActive="horizontal-active-link">
                    <b>{{subCategory.name}}</b>
                </a>
                <mat-divider></mat-divider>
                <div *ngIf="subCategory.children">
                    <div *ngFor="let grandsubCategory of subCategory.children;let j=index">
                        <a mat-menu-item [routerLink]="['/products', grandsubCategory.categoryId]" style="text-decoration: none;"
                           [routerLinkActiveOptions]="{exact:true}" 
                           (click)="linkActive()"
                           routerLinkActive="horizontal-active-link">
                            {{grandsubCategory.name}}</a>
                    </div>
                </div>
            </div>
        </div>
       </span>
    </mat-menu>
    <a class="a_link"  routerLink="/contact" style="text-decoration: none;" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}">{{'Shared.Contact'|translate}}</a>
</mat-toolbar>
