<div class="container" *ngIf="isShow">
    <div class="row" style="margin-top: 30px;margin-right: 200px">
        <img style="width:90px;height:90px"  src="assets/images/others/spurt-2.1-v1.gif"/>
    </div>
</div>
