/* Default Template Styles */

/* Typography */
body {
  background: #fff;
}
p {
  color: #777;
  font-size: 0.85rem;
  line-height: 1.6rem;
}
a, a:link, a:visited, a:hover, a:active { 
color: #777;    font-family: none;
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000;                                         
  margin-bottom: 15px;
  margin-top: 0;
  font-family: auto;
}
.mat-tab-header{
  border-left: 3px solid green!important;
  border-bottom: none!important;
  padding: 10px 0px 10px 0px;
}
.mat-ink-bar{
  display: none;
}
#move_hover{
  width: 200px;
  height: 200px;
  background: #f0f0f0;
  position: fixed;
  display: none;
}
.MagicZoomPup{
  border:1px solid #ccc; background:#fff; cursor:move;
}
.mat-paginator-range-actions button:hover{
  background: #f5a644!important;
}
.mat-paginator-navigation-previous{
  background: #dccec0d9!important;
  -webkit-border-radius: 1%!important;
  -moz-border-radius: 1%!important;
  border-radius: 1%!important;
  margin-left: 1%!important;
  width: 46px!important;
  height: 45px!important;
}
.mat-paginator-navigation-next{
  background: #dccec0d9!important;
  -webkit-border-radius: 1%!important;
  -moz-border-radius: 1%!important;
  border-radius: 1%!important;
  margin-left: 1%!important;
  width: 46px!important;
  height: 45px!important;
}
button.mat-menu-item{
  border-bottom: 3px solid #fec106;
  padding-top: 7px;
  font-family: none;
  letter-spacing: 1px;
  font-weight: bold;
  /*padding-bottom: 23px;*/
}
/*button.mat-menu-item:hover,button.mat-menu-item:active{*/
/*  border-bottom: 3px solid #e89f44;*/
/*}*/
h1, .h1 {font-size: 1.8rem;}
h2, .h2 {font-size: 1.4rem;}
h3, .h3 {font-size: 1.2rem;}
h4, .h4 {font-size: 1.1rem;}
h5, .h5 {font-size: 1rem;}
h6, .h6 {font-size: 0.9rem;}
h1.headline, .h1.headline {
  font-size: 3.8rem; 
  letter-spacing: -2.5px;
}
h2.headline, .h2.headline {
  font-size: 3rem; 
  letter-spacing: -2px; 
}
h3.headline, .h3.headline {
  font-size: 2.6rem;
  letter-spacing: -2px;
}
h4.headline, .h4.headline {
  font-size: 2.4rem;
  letter-spacing: -1.5px; 
}
h5.headline, .h5.headline {
  font-size: 2.2rem;
  letter-spacing: -1.4px; 
}
h6.headline, .h6.headline {
  font-size: 2rem;
  letter-spacing: -1.3px;
}
.text-size-12, .text-xxl-size-12 {
  font-size: 12px !important;
  line-height: 1.4;
}
.text-size-16, .text-xxl-size-16 {
  font-size: 16px !important;
  line-height: 1.4;
}
.text-size-20, .text-xxl-size-20, .text-size-25, .text-xxl-size-25,.text-size-30, .text-xxl-size-30,.text-size-40, .text-xxl-size-40,.text-size-50, .text-xxl-size-50, .text-size-60, .text-xxl-size-60,.text-size-70, .text-xxl-size-70, .text-size-80, .text-xxl-size-80, .text-size-90, .text-xxl-size-90, .text-size-100, .text-xxl-size-100 {line-height: 1.4;}
.text-size-20, .text-xxl-size-20 {font-size: 20px !important;}
.text-size-25, .text-xxl-size-25 {font-size: 25px !important;}
.text-size-30, .text-xxl-size-30 {font-size: 30px !important;}
.text-size-40, .text-xxl-size-40 {font-size: 40px !important;}
.text-size-50, .text-xxl-size-50 {font-size: 50px !important;}
.text-size-60, .text-xxl-size-60 {font-size: 60px !important;}
.text-size-70, .text-xxl-size-70 {font-size: 70px !important;}
.text-size-80, .text-xxl-size-80 {font-size: 80px !important;}
.text-size-90, .text-xxl-size-90 {font-size: 90px !important;}
.text-size-100, .text-xxl-size-100 {font-size: 100px !important;}                                                                                                                
.background-green .section-title:after, .primary-color-green .background-primary .section-title:after {color: #fff;}
.text-thin {font-weight: 300;}
b, strong, .text-strong {font-weight: 700;}
.text-extra-strong {font-weight: 800;}
blockquote::before {
  color: #e0e0e0;
  content: "“";
  display: block;
  float: left;
  font-family: georgia;
  font-size: 80px;
  height: 30px;
  left: -40px;
  position: relative;
  top: -20px;
  width: 0;
}
blockquote {
  border: 0;
  font-size: 1rem;
  padding: 0 0 0 40px;
}
a.text-tag:link {
  border: 1px solid #e5e5e5;
  display: inline-block;
  float: left;
  font-size: 0.75rem;
  margin: 1px 2px 1px 0;
  padding: 6px 9px;
}
a.text-tag:link:hover {
  background: #454545 none repeat scroll 0 0;
  border: 1px solid #454545;
  color: #fff;
  transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
}

ul.text-list, ol.text-list {
  font-size: 0.85rem;
  line-height: 1.8rem;
  padding: 0 16px;
}
ul.text-list ul, ol.text-list ol {
  padding: 0 14px;
}
iframe {
  display: block;
  margin: 0;
}

/* Drop Cap */
.text-drop-cap {
  float: left;
  font-size: 65px;
  line-height: 45px;
  padding-right: 10px;
  padding-top: 5px;
}

/* Tables */
table {
	background:none repeat scroll 0 0 #fff;
	border:0;
	font-size: 0.85rem;
  line-height: 1.6rem;
	}
table tr td, table tr th {padding:10px;}
table tfoot, table thead {
  background:none repeat scroll 0 0 #f5f5f5;
  border-top:1px solid #f0f0f0;
  border-bottom:1px solid #f0f0f0;
}
table tr:nth-of-type(2n) {
  background:none repeat scroll 0 0 #f5f5f5;
  border-top:1px solid #f0f0f0;
  border-bottom:1px solid #f0f0f0;
}
th {border-right:1px solid #fff;}
td {border-right:1px solid #fff;}


/* Backgrounds */
.background-image {
  background-repeat: no-repeat;
  background-size: cover;
}
.background-white-hightlight .top-nav .active-item > a, .background-white-hightlight .top-nav li a:hover, .background-white-hightlight .aside-nav li a:hover, 
.background-white-hightlight .aside-nav > ul > li.active-item > a:link, .background-white-hightlight .aside-nav > ul > li.active-item > a:visited,
.primary-color-white .background-primary-hightlight .top-nav .active-item > a, .primary-color-white .background-primary-hightlight .top-nav li a:hover, .primary-color-white .background-primary-hightlight .aside-nav li a:hover, 
.primary-color-white .background-primary-hightlight .aside-nav > ul > li.active-item > a:link, .primary-color-white .background-primary-hightlight .aside-nav > ul > li.active-item > a:visited {
  background: #fff none repeat scroll 0 0;
  color: #454545;
}
.background-primary-hightlight .top-nav .active-item > a, .background-primary-hightlight .top-nav li a:hover, .background-primary-hightlight .aside-nav li a:hover, 
.background-primary-hightlight .aside-nav > ul > li.active-item > a:link, .background-primary-hightlight .aside-nav > ul > li.active-item > a:visited,
.primary-color-primary .background-primary-hightlight .top-nav .active-item > a, .primary-color-primary .background-primary-hightlight .top-nav li a:hover, .primary-color-primary .background-primary-hightlight .aside-nav li a:hover, 
.primary-color-primary .background-primary-hightlight .aside-nav > ul > li.active-item > a:link, .primary-color-primary .background-primary-hightlight .aside-nav > ul > li.active-item > a:visited {
  background: #28a5df none repeat scroll 0 0;
  color: #fff;
} 
.background-dark-hightlight .top-nav .active-item > a, .background-dark-hightlight .top-nav li a:hover, .background-dark-hightlight .aside-nav li a:hover, 
.background-dark-hightlight .aside-nav > ul > li.active-item > a:link, .background-dark-hightlight .aside-nav > ul > li.active-item > a:visited,
.primary-color-dark .background-primary-hightlight .top-nav .active-item > a, .primary-color-dark .background-primary-hightlight .top-nav li a:hover, .primary-color-dark .background-primary-hightlight .aside-nav li a:hover, 
.primary-color-dark .background-primary-hightlight .aside-nav > ul > li.active-item > a:link, .primary-color-dark .background-primary-hightlight .aside-nav > ul > li.active-item > a:visited {
  background: #454545 none repeat scroll 0 0;
  color: #fff;
}
.background-none {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0!important;
  border: 0;
}

/* Breaks */
hr.break {
  border: 0;
  border-top: 1px solid #e5e5e5; 
  display: block;
  margin: 40px 0;
}
hr.break:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  line-height:0;
  visibility:hidden;
}
hr.break.break-dashed {
  border-top: 1px dashed #e5e5e5;
}
hr.break.break-dotted {
  border-top: 1px dotted #e5e5e5;
}
hr.break.break-double {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  height: 8px;
}
hr.break.break-dashed-double {
  border-bottom: 1px dashed #e5e5e5;
  border-top: 1px dashed #e5e5e5;
  height: 8px;
}
hr.break.break-dotted-double {
  border-bottom: 1px dotted #e5e5e5;
  border-top: 1px dotted #e5e5e5;
  height: 8px;
}

/* Small Breaks */
hr.break-small {
  background: #e5e5e5;
  border: 0;
  display: block;
  height: 2px;
  margin: 20px 0 35px;
  width: 60px;
}
hr.break-small.break-center {
  margin: 20px auto 35px;
}

video {
  display: block;
} 

/* Top Nav */
.top-nav li a, .background-white .top-nav li a {
  color: #454545;
  font-size: 0.85rem;
  padding: 0.7em 1.25em;
}
nav {
  border-bottom: 4px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1.7rem 0;
  position: relative;
  z-index: 2;
}  
.top-nav ul ul {
  background: #454545 none repeat scroll 0 0;
}
.top-nav li ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.top-nav li ul li:last-child {
  border-bottom: 0;
}
.top-nav li ul li a, .background-white .top-nav li ul li a, .top-nav .active-item li a {
  background: #454545 none repeat scroll 0 0;
  color: rgba(255,255,255, 0.75);
}
ul.chevron .submenu > a::after, ul.chevron .sub-submenu > a::after, ul.chevron .aside-submenu > a::after, ul.chevron .aside-sub-submenu > a::after {
  margin: 0 0 0 0.625rem;
}
.top-nav ul ul a {
  color: #eee;
}
.sticky {
  transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
}
.fixed {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
nav.fixed, .fixed nav {
  padding: 1rem 0;
}
.logo img {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

/* Aside Nav */
aside {
  border-left: 1px solid #e5e5e5;
  padding-left: 1.25rem;
}

.aside-nav ul {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  margin-left: -1.25rem;
}
.aside-nav ul ul {
  margin: 0;
}
.aside-nav li a, .aside-nav li a:link, .aside-nav li a:visited {
  border-bottom: medium none;
  font-size: 0.85rem;
  padding: 15px;
  border-left: 5px solid rgba(0,0,0,0);
}
.aside-nav > ul > li > a:hover, .aside-nav > ul > li.active-item > a:link, .aside-nav > ul > li.active-item > a:visited {
  border-style: solid;
  border-width: 0 0 0 5px;
  border-color: #e5e5e5;
  background: none;
  color: #333;
}
.aside-nav li ul ul {
  background: #e9e9e9 none repeat scroll 0 0;
}
aside.aside-left {
  border-left: 0;
  border-right: 1px solid #e5e5e5;
  padding-right: 1.25rem;
}
.aside-left .aside-nav ul {
  margin-right: -1.25rem;
}
.aside-left .aside-nav li a {
  border-left: 0;
  border-right: 5px solid rgba(0,0,0,0);
}
.aside-left .aside-nav > ul > li > a:hover, .aside-left .aside-nav > ul > li.active-item > a:link, .aside-left .aside-nav > ul > li.active-item > a:visited {
  border-style: solid;
  border-width: 0 5px 0 0;
  border-color: #e5e5e5;
}

.aside-nav.background-white-hightlight > ul > li > a:hover, .aside-nav.background-white-hightlight > ul > li.active-item > a:link, .aside-nav.background-white-hightlight > ul > li.active-item > a:visited,
.primary-color-white .aside-nav.background-primary-hightlight > ul > li > a:hover, .primary-color-white .aside-nav.background-primary-hightlight > ul > li.active-item > a:link, .primary-color-white .aside-nav.background-primary-hightlight > ul > li.active-item > a:visited {
  border-color: #fff;
} 
.aside-nav.background-primary-hightlight > ul > li > a:hover, .aside-nav.background-primary-hightlight > ul > li.active-item > a:link, .aside-nav.background-primary-hightlight > ul > li.active-item > a:visited,
.primary-color-primary .aside-nav.background-primary-hightlight > ul > li > a:hover, .primary-color-primary .aside-nav.background-primary-hightlight > ul > li.active-item > a:link, .primary-color-primary .aside-nav.background-primary-hightlight > ul > li.active-item > a:visited {
  border-color: #28a5df;
}
.aside-nav.background-dark-hightlight > ul > li > a:hover, .aside-nav.background-dark-hightlight > ul > li.active-item > a:link, .aside-nav.background-dark-hightlight > ul > li.active-item > a:visited,
.primary-color-dark .aside-nav.background-primary-hightlight > ul > li > a:hover, .primary-color-dark .aside-nav.background-primary-hightlight > ul > li.active-item > a:link, .primary-color-dark .aside-nav.background-primary-hightlight > ul > li.active-item > a:visited {
  border-color: #454545;
}

/* Font colors */
.background-white, .background-white p, a.background-white, .background-white a, .background-white a:link, .background-white a:visited, .background-white a:hover, .background-white a:active {
  color: #777;
} 
.background-dark, .background-dark p, a.background-dark, a.background-dark:visited, a.background-dark:link, .background-dark a, .background-dark a:link, .background-dark a:visited, .background-dark a:hover, .background-dark a:active,
.primary-color-dark .background-primary, .primary-color-dark .background-primary p, .primary-color-dark a.background-primary, .primary-color-dark a.background-primary:visited, .primary-color-dark a.background-primary:link, .primary-color-dark a.background-primary:visited, .primary-color-dark .background-primary a, .primary-color-dark .background-primary a:link, .primary-color-dark .background-primary a:visited, .primary-color-dark .background-primary a:hover, .primary-color-dark .background-primary a:active {
  color: #999;
}
.background-white h1, .background-white h2, .background-white h3, .background-white h4, .background-white h5, .background-white h6,
.background-white .h1, .background-white .h2, .background-white .h3, .background-white .h4, .background-white .h5, .background-white .h6, 
.primary-color-white .background-primary h1, .primary-color-white .background-primary h2, .primary-color-white .background-primary h3, .primary-color-white .background-primary h4, .primary-color-white .background-primary h5, .primary-color-white .background-primary h6,
.primary-color-white .background-primary .h1, .primary-color-white .background-primary .h2, .primary-color-white .background-primary .h3, .primary-color-white .background-primary .h4, .primary-color-white .background-primary .h5, .primary-color-white .background-primary .h6 {
  color: #454545;
} 
.image-hover-overlay-content *,
.background-primary, .background-primary p, a.background-primary, a.background-primary:visited, a.background-primary:link, .background-primary a, .background-primary a:link, .background-primary a:visited, .background-primary a:hover, .background-primary a:active, 
.primary-color-primary .background-primary, .primary-color-primary .background-primary p, .primary-color-primary a.background-primary, .primary-color-primary a.background-primary:visited, .primary-color-primary a.background-primary:link, .primary-color-primary .background-primary a, .primary-color-primary .background-primary a:link, .primary-color-primary .background-primary a:visited, .primary-color-primary .background-primary a:hover, .primary-color-primary .background-primary a:active {
  color: rgba(255,255,255, 0.75);
}
.background-dark h1, .background-dark h2, .background-dark h3, .background-dark h4, .background-dark h5, .background-dark h6,
.background-dark .h1, .background-dark .h2, .background-dark .h3, .background-dark .h4, .background-dark .h5, .background-dark .h6, 
.primary-color-dark .background-primary h1, .primary-color-dark .background-primary h2, .primary-color-dark .background-primary h3, .primary-color-dark .background-primary h4, .primary-color-dark .background-primary h5, .primary-color-dark .background-primary h6,
.primary-color-dark .background-primary .h1, .primary-color-dark .background-primary .h2, .primary-color-dark .background-primary .h3, .primary-color-dark .background-primary .h4, .primary-color-dark .background-primary .h5, .primary-color-dark .background-primary .h6,
.background-primary h1, .background-primary h2, .background-primary h3, .background-primary h4, .background-primary h5, .background-primary h6,
.background-primary .h1, .background-primary .h2, .background-primary .h3, .background-primary .h4, .background-primary .h5, .background-primary .h6,
.primary-color-primary .background-primary h1, .primary-color-primary .background-primary h2, .primary-color-primary .background-primary h3, .primary-color-primary .background-primary h4, .primary-color-primary .background-primary h5, .primary-color-primary .background-primary h6,
.primary-color-primary .background-primary .h1, .primary-color-primary .background-primary .h2, .primary-color-primary .background-primary .h3, .primary-color-primary .background-primary .h4, .primary-color-primary .background-primary .h5, .primary-color-primary .background-primary .h6 {
  color: #fff;
}
.text-white, .text-white *, .primary-color-white .text-primary, .primary-color-white .text-primary * {
  color: #fff !important;
}
.text-primary, .text-primary *, .primary-color-primary .text-primary, .primary-color-primary .text-primary * {
  color: #28a5df !important;
}
.text-dark, .text-dark *, .primary-color-dark .text-primary, .primary-color-dark .text-primary * {
  color: #454545 !important;
} 
.text-primary-hover, .text-white-hover, .text-primary, .text-dark-hover {
  transition: color 0.20s linear 0s;
  -o-transition: color 0.20s linear 0s;
  -ms-transition: color 0.20s linear 0s;
  -moz-transition: color 0.20s linear 0s;
  -webkit-transition: color 0.20s linear 0s;
}
.text-white-hover:hover, .primary-color-white .text-primary-hover:hover {
  color: #fff !important;
}
.text-primary-hover:hover, .primary-color-primary .text-primary-hover:hover {
  color: #28a5df !important;
}
.text-dark-hover:hover, .primary-color-dark .text-primary-hover:hover {
  color: #454545 !important;
} 

/* Background Colors */
.background-white, .primary-color-white .background-primary {
  background-color: #fff !important;
}
.background-primary, .primary-color-primary .background-primary {
  background-color: #28a5df !important; 
}
.background-dark, .primary-color-dark .background-primary {
  background-color: #454545 !important; 
}
.background-grey {
  background-color: #f5f5f5 !important;
}
/* Background Opacity */
.background-white.background-transparent, .primary-color-white .background-primary.background-transparent {
  background-color: rgba(255, 255, 255, 0.85) !important;
}
.background-primary.background-transparent, .primary-color-primary .background-primary.background-transparent {
  background-color: rgba(40, 165, 223, 0.85) !important;
}
.background-dark.background-transparent, .primary-color-dark .background-primary.background-transparent {
  background-color: rgba(0, 38, 51, 0.85) !important;
}

/* Border color */
.border-white, .primary-color-white .border-primary {
  border-color: #fff !important;
}
.border-primary, .primary-color-primary .border-primary {
  border-color: #28a5df !important;
}
.border-dark, .primary-color-dark .border-primary {
  border-color: #282828 !important;
}


/* Buttons */
.button, a.button, a.button:link, a.button:visited {
  border-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1px;
  color: white;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  text-align: center;
  transition: all 0.20s linear 0s !important;
  -o-transition: all 0.20s linear 0s !important;
  -ms-transition: all 0.20s linear 0s !important;
  -moz-transition: all 0.20s linear 0s !important;
  -webkit-transition: all 0.20s linear 0s !important;
}

.button:hover, a.button:hover, a.button:link:hover, a.button:visited:hover {
  box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.25) inset;
}
/* Stroke Buttons */ 
.button.button-white-stroke, a.button.button-white-stroke, a.button.button-white-stroke:link, a.button.button-white-stroke:visited,
.primary-color-white .button.button-primary-stroke, .primary-color-white a.button.button-primary-stroke, .primary-color-white a.button.button-primary-stroke:link, .primary-color-white a.button.button-primary-stroke:visited {
  background: none;
  border: 1px solid #fff;
  box-shadow: none;
  color: #fff;
}
.button.button-white-stroke:hover, a.button.button-white-stroke:hover,
.primary-color-white .button.button-primary-stroke:hover, .primary-color-white a.button.button-primary-stroke:hover {
  background: #fff none repeat scroll 0 0;
  color: #454545;
}
.button.button-primary-stroke, a.button.button-primary-stroke, a.button.button-primary-stroke:link, a.button.button-primary-stroke:visited,
.primary-color-primary .button.button-primary-stroke, .primary-color-primary a.button.button-primary-stroke, .primary-color-primary a.button.button-primary-stroke:link, .primary-color-primary a.button.button-primary-stroke:visited {
  background: none;
  border: 1px solid #28a5df;
  box-shadow: none;
  color: #28a5df;
}
.button.button-primary-stroke:hover, a.button.button-primary-stroke:hover,
.primary-color-primary .button.button-primary-stroke:hover, .primary-color-primary a.button.button-primary-stroke:hover {
  background: #28a5df none repeat scroll 0 0;
  color: #fff;
}
.button.button-dark-stroke, a.button.button-dark-stroke, a.button.button-dark-stroke:link, a.button.button-dark-stroke:visited,
.primary-color-dark .button.button-primary-stroke, .primary-color-dark a.button.button-primary-stroke, .primary-color-dark a.button.button-primary-stroke:link, .primary-color-dark a.button.button-primary-stroke:visited {
  background: none;
  border: 1px solid #454545;
  box-shadow: none;
  color: #454545;
}
.button.button-dark-stroke:hover, a.button.button-dark-stroke:hover,
.primary-color-dark .button.button-primary-stroke:hover, .primary-color-dark a.button.button-primary-stroke:hover {
  background: #454545 none repeat scroll 0 0;
  color: #fff;
}

/* Containers */
.section  { 
  padding: 6rem 1.25rem;
}
.section-small-padding  { 
  padding: 2.5rem 1.25rem;
}
.section-top-padding  { 
  padding: 6rem 1.25rem 0  1.25rem;
}
.section-top-small-padding  { 
  padding: 2.5rem  1.25rem 0  1.25rem;
}
.float-left {
  float: left;
}
.block-bordered {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.padding {
  padding: 1.25rem!important;
}
.padding-2x {
  padding: 2.5rem!important;
}
.padding-3x {
  padding: 80px!important;
}
.full-width:after {
clear:both;
content:".";
display:block;
height:0;
line-height:0;
visibility:hidden;
}
.position-fixed  { 
  position: fixed;
  top: 0;
  width: 100%;
}
.center {
  display: block!important;
}
.border-radius  { 
  border-radius: 3px;
}
.content-bottom {
  bottom: 0;
  position: absolute;
}

/* Margins */
.margin-top {
  margin-top: 1.25rem !important;
}
.margin-left {
  margin-left: 1.25rem !important;
}
.margin-right {
  margin-right: 1.25rem !important;
}
.margin-top-bottom {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}
.margin-left-right {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}
.margin-top-0,.margin-top-10,.margin-top-15,.margin-top-20,.margin-top-30,.margin-top-40,.margin-top-50,.margin-top-60,.margin-top-70,.margin-top-80,
.margin-bottom-0,.margin-bottom-10,.margin-bottom-15,.margin-bottom-20,.margin-bottom-30,.margin-bottom-40,.margin-bottom-50,.margin-bottom-60,.margin-bottom-70,.margin-bottom-80,
.margin-top-bottom-0,.margin-top-bottom-10,.margin-top-bottom-15,.margin-top-bottom-20,.margin-top-bottom-30,.margin-top-bottom-40,.margin-top-bottom-50,.margin-top-bottom-60,.margin-top-bottom-70,.margin-top-bottom-80 {display: block;}
.margin-top-0 {margin-top: 0 !important;}
.margin-top-10 {margin-top: 10px !important;}
.margin-top-15 {margin-top: 15px !important;} 
.margin-top-20 {margin-top: 20px !important;} 
.margin-top-30 {margin-top: 30px !important;} 
.margin-top-40 {margin-top: 40px !important;}
.margin-top-50 {margin-top: 50px !important;}
.margin-top-60 {margin-top: 60px !important;}
.margin-top-70 {margin-top: 70px !important;}
.margin-top-80 {margin-top: 80px !important;}
.margin-bottom-0 {margin-bottom: 0 !important;}
.margin-bottom-10 {margin-bottom: 10px !important;}
.margin-bottom-15 {margin-bottom: 15px !important;} 
.margin-bottom-20 {margin-bottom: 20px !important;} 
.margin-bottom-30 {margin-bottom: 30px !important;} 
.margin-bottom-40 {margin-bottom: 40px !important;}
.margin-bottom-50 {margin-bottom: 50px !important;}
.margin-bottom-60 {margin-bottom: 60px !important;}
.margin-bottom-70 {margin-bottom: 70px !important;}
.margin-bottom-80 {margin-bottom: 80px !important;}
.margin-top-bottom-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.margin-top-bottom-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.margin-top-bottom-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
} 
.margin-top-bottom-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
} 
.margin-top-bottom-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
} 
.margin-top-bottom-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.margin-top-bottom-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.margin-top-bottom-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
} 
.margin-top-bottom-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
} 
.margin-top-bottom-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.margin-left-0 {margin-left: 0 !important;}
.margin-left-10 {margin-left: 10px !important;}
.margin-left-15 {margin-left: 15px !important;} 
.margin-left-20 {margin-left: 20px !important;} 
.margin-left-30 {margin-left: 30px !important;} 
.margin-left-40 {margin-left: 40px !important;}
.margin-left-50 {margin-left: 50px !important;}
.margin-left-60 {margin-left: 60px !important;}
.margin-left-70 {margin-left: 70px !important;}
.margin-left-80 {margin-left: 80px !important;}
.margin-right-0 {margin-right: 0 !important;}
.margin-right-10 {margin-right: 10px !important;}
.margin-right-15 {margin-right: 15px !important;} 
.margin-right-20 {margin-right: 20px !important;} 
.margin-right-30 {margin-right: 30px !important;} 
.margin-right-40 {margin-right: 40px !important;}
.margin-right-50 {margin-right: 50px !important;}
.margin-right-60 {margin-right: 60px !important;}
.margin-right-70 {margin-right: 70px !important;}
.margin-right-80 {margin-right: 80px !important;}    

/* More info button */
a.text-more-info {
  display: block;
  font-size: 0.85rem;
  margin-top: 0.625rem;
}
a.text-more-info:after {
  content: "\f006";
  font-family: mfg;
  font-size: 0.8rem;
  margin-left: 0.625rem;
  transition: all 0.20s linear 0s;
-o-transition: all 0.20s linear 0s;
-ms-transition: all 0.20s linear 0s;
-moz-transition: all 0.20s linear 0s;
-webkit-transition: all 0.20s linear 0s;
}
a.text-more-info:hover:after {
  margin-left: 0.825rem;
}

/* Carousel */
/*.owl-theme .owl-controls {
  margin-top: 0;
}*/
.owl-carousel .owl-nav div {
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
}
.owl-carousel .owl-nav div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
}
.owl-carousel .owl-dots {
  text-align: center;
}
.owl-carousel .owl-dot {
  display: inline-block;
}
.owl-carousel .owl-dot span {
  background: #7697a2 none repeat scroll 0 0;
  border-radius: 0;
  display: block;
  height: 1px;
  margin: 0 1px;
  width: 30px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
}
.owl-carousel .owl-dot.active span {
  filter: Alpha(Opacity=100);
  opacity: 1;
}
.owl-carousel .owl-nav div {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #7697a2!important;
  border: 1px solid #7697a2;
  border-radius: 0;
  font-family: mfg;
  height: 40px;
  line-height: 40px;
  margin-top: -20px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;    
  width: 40px;
}
.carousel-bottom-arrows.owl-carousel .owl-nav div {
  bottom: 0;
  top: auto;
}
.owl-carousel .owl-nav .owl-prev {
  left: 0;    
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
}
.carousel-wide-arrows.owl-carousel .owl-nav .owl-prev {
  left: -60px;
}
.carousel-wide-arrows.owl-carousel .owl-nav .owl-next {
  right: -60px;
}
.carousel-nav-white.owl-carousel .owl-dots span {
  background: #fff none repeat scroll 0 0;
}
.carousel-nav-white.owl-carousel .owl-nav div {
  color: #fff!important;
  border: 1px solid #fff;
}
.carousel-main .carousel-content {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.owl-dots {
  margin-top: 0.625rem;
} 
.carousel-main .owl-dots {
  bottom: 0;
  padding: 1.25rem 0;
  position: absolute;
  width: 100%;
}
.carousel-blocks {
  padding: 0 3rem;
}
.carousel-blocks .owl-item {
  padding: 0 0.625rem;
}
.carousel-hide-arrows .owl-nav, .carousel-hide-pagination .owl-dots {
display:none;
}
.carousel-blocks.carousel-hide-arrows, .carousel-3-blocks.carousel-hide-arrows, .carousel-blocks.carousel-wide-arrows, .carousel-3-blocks.carousel-wide-arrows {
    padding: 0;
}


/* Portfolio Tabs */
.tab-nav.line {
  display: table;
  padding-bottom: 1.25rem;
}
.tab-item {
  padding: 0;
}
a.tab-label, a.tab-label:link, a.tab-label:visited,
.background-white a.tab-label, .background-white a.tab-label:link, .background-white a.tab-label:visited, .background-white a.tab-label:hover {
  background: #454545 none repeat scroll 0 0;
  color: rgba(255,255,255, 0.75);
}
a.tab-label, a.tab-label:link, a.tab-label:visited, a.tab-label:hover,
.background-white a.tab-label, .background-white a.tab-label:link, .background-white a.tab-label:visited, .background-white a.tab-label:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #454545;
}
.background-white-hightlight a.tab-label.active-btn, .background-white-hightlight a.tab-label:hover,
.primary-color-white .background-primary-hightlight a.tab-label.active-btn, .primary-color-white .background-primary-hightlight a.tab-label:hover {
  background: #fff none repeat scroll 0 0;
  color: #454545;
}
.background-primary-hightlight a.tab-label.active-btn, .background-primary-hightlight a.tab-label:hover,
.primary-color-primary .background-primary-hightlight a.tab-label.active-btn, .primary-color-primary .background-primary-hightlight a.tab-label:hover {
  background: #28a5df none repeat scroll 0 0;
  color: #fff;
}

.background-dark-hightlight a.tab-label.active-btn, .background-dark-hightlight a.tab-label:hover,
.primary-color-dark .background-primary-hightlight a.tab-label.active-btn, .primary-color-dark .background-primary-hightlight a.tab-label:hover {
  background: #454545 none repeat scroll 0 0;
  color: #fff;
}

/* Forms */
form.customform input, form.customform textarea, form.customform select {
  background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.14);
  font-size: 12px;
  padding: 0.625rem;
  width: 100%;
}
form.customform input:hover, form.customform textarea:hover, form.customform select:hover, form.customform input:focus, form.customform textarea:focus, form.customform select:focus {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
/* -1366 version */
@media screen and (max-width:1366px) {
    .margin-xl-bottom {
        margin-bottom: 1.25rem !important;
        display: block;
    }
    .margin-xl-left {
        margin-left: 1.25rem !important;
    }
    .margin-xl-right {
        margin-right: 1.25rem !important;
    }
    .margin-xl-top-bottom {
        margin-top: 1.25rem !important;
        margin-bottom: 1.25rem !important;
    display: block;
    }
    .margin-xl-left-right {
        margin-left: 1.25rem !important;
        margin-right: 1.25rem !important;
    }
    .margin-xl-top-0,.margin-xl-top-10,.margin-xl-top-15,.margin-xl-top-20,.margin-xl-top-30,.margin-xl-top-40,.margin-xl-top-50,.margin-xl-top-60,.margin-xl-top-70,.margin-xl-top-80,
    .margin-xl-bottom-0,.margin-xl-bottom-10,.margin-xl-bottom-15,.margin-xl-bottom-20,.margin-xl-bottom-30,.margin-xl-bottom-40,.margin-xl-bottom-50,.margin-xl-bottom-60,.margin-xl-bottom-70,.margin-xl-bottom-80,
    .margin-xl-top-bottom-0,.margin-xl-top-bottom-10,.margin-xl-top-bottom-15,.margin-xl-top-bottom-20,.margin-xl-top-bottom-30,.margin-xl-top-bottom-40,.margin-xl-top-bottom-50,.margin-xl-top-bottom-60,.margin-xl-top-bottom-70,.margin-xl-top-bottom-80 {display: block;}
    .margin-xl-top-0 {margin-top: 0 !important;}
    .margin-xl-top-10 {margin-top: 10px !important;}
    .margin-xl-top-15 {margin-top: 15px !important;} 
    .margin-xl-top-20 {margin-top: 20px !important;} 
    .margin-xl-top-30 {margin-top: 30px !important;} 
    .margin-xl-top-40 {margin-top: 40px !important;}
    .margin-xl-top-50 {margin-top: 50px !important;}
    .margin-xl-top-60 {margin-top: 60px !important;}
    .margin-xl-top-70 {margin-top: 70px !important; }
    .margin-xl-top-80 {margin-top: 80px !important;}
    
    .margin-xl-bottom-0 {margin-bottom: 0 !important;}
    .margin-xl-bottom-10 {margin-bottom: 10px !important;}
    .margin-xl-bottom-15 {margin-bottom: 15px !important;} 
    .margin-xl-bottom-20 {margin-bottom: 20px !important;} 
    .margin-xl-bottom-30 {margin-bottom: 30px !important;} 
    .margin-xl-bottom-40 {margin-bottom: 40px !important;}
    .margin-xl-bottom-50 {margin-bottom: 50px !important;}
    .margin-xl-bottom-60 {margin-bottom: 60px !important;}
    .margin-xl-bottom-70 {margin-bottom: 70px !important;}
    .margin-xl-bottom-80 {margin-bottom: 80px !important;}
    
    .margin-xl-top-bottom-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .margin-xl-top-bottom-10 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .margin-xl-top-bottom-15 {
        margin-top: 15px !important;
        margin-bottom: 15px !important; 
    } 
    .margin-xl-top-bottom-20 {
        margin-top: 20px !important;
        margin-bottom: 20px !important; 
    } 
    .margin-xl-top-bottom-30 {
        margin-top: 30px !important;
        margin-bottom: 30px !important; 
    } 
    .margin-xl-top-bottom-40 {
        margin-top: 40px !important;
        margin-bottom: 40px !important; 
    }
    .margin-xl-top-bottom-50 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .margin-xl-top-bottom-60 {
        margin-top: 60px !important;
        margin-bottom: 60px !important; 
    } 
    .margin-xl-top-bottom-70 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    } 
    .margin-xl-top-bottom-80 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
    
    .margin-xl-left-0 {margin-left: 0 !important;}
    .margin-xl-left-10 {margin-left: 10px !important;}
    .margin-xl-left-15 {margin-left: 15px !important;} 
    .margin-xl-left-20 {margin-left: 20px !important;} 
    .margin-xl-left-30 {margin-left: 30px !important;} 
    .margin-xl-left-40 {margin-left: 40px !important;}
    .margin-xl-left-50 {margin-left: 50px !important;}
    .margin-xl-left-60 {margin-left: 60px !important;}
    .margin-xl-left-70 {margin-left: 70px !important;}
    .margin-xl-left-80 {margin-left: 80px !important;}
    .margin-xl-right-0 {margin-right: 0 !important;}
    .margin-xl-right-10 {margin-right: 10px !important;}
    .margin-xl-right-15 {margin-right: 15px !important;} 
    .margin-xl-right-20 {margin-right: 20px !important;} 
    .margin-xl-right-30 {margin-right: 30px !important;} 
    .margin-xl-right-40 {margin-right: 40px !important;}
    .margin-xl-right-50 {margin-right: 50px !important;}
    .margin-xl-right-60 {margin-right: 60px !important;}
    .margin-xl-right-70 {margin-right: 70px !important;}
    .margin-xl-right-80 {margin-right: 80px !important;}
    
    .text-xl-size-12,.text-xl-size-16,.text-xl-size-20,.text-xl-size-25,.text-xl-size-30,.text-xl-size-40,.text-xl-size-50,.text-xl-size-60,.text-xl-size-70,.text-xl-size-80,.text-xl-size-90.text-xl-size-100 {line-height: 1.4;}
    .text-xl-size-12 {font-size: 12px !important;}
    .text-xl-size-16 {font-size: 16px !important;}
    .text-xl-size-20 {font-size: 20px !important;}
    .text-xl-size-25 {font-size: 25px !important;}
    .text-xl-size-30 {font-size: 30px !important;}
    .text-xl-size-40 {font-size: 40px !important;}
    .text-xl-size-50 {font-size: 50px !important;}
    .text-xl-size-60 {font-size: 60px !important;}
    .text-xl-size-70 {font-size: 70px !important;}    
    .text-xl-size-80 {font-size: 80px !important;}
    .text-xl-size-90 {font-size: 90px !important;}
    .text-xl-size-100 {font-size: 100px !important;}  
}
@media screen and (max-width:1140px) {
    .margin-l-bottom {
        margin-bottom: 1.25rem !important;
        display: block;
    }
    .margin-l-left {
        margin-left: 1.25rem !important;
    }
    .margin-l-right {
        margin-right: 1.25rem !important;
    }
    .margin-l-top-bottom {
        margin-top: 1.25rem !important;
        margin-bottom: 1.25rem !important;
        display: block;
    }
    .margin-l-left-right {
        margin-left: 1.25rem !important;
        margin-right: 1.25rem !important;
    }
    .margin-l-top-0,.margin-l-top-10,.margin-l-top-15,.margin-l-top-20,.margin-l-top-30,.margin-l-top-40,.margin-l-top-50,.margin-l-top-60,.margin-l-top-70,.margin-l-top-80,
    .margin-l-bottom-0,.margin-l-bottom-10,.margin-l-bottom-15,.margin-l-bottom-20,.margin-l-bottom-30,.margin-l-bottom-40,.margin-l-bottom-50,.margin-l-bottom-60,.margin-l-bottom-70,.margin-l-bottom-80,
    .margin-l-top-bottom-0,.margin-l-top-bottom-10,.margin-l-top-bottom-15,.margin-l-top-bottom-20,.margin-l-top-bottom-30,.margin-l-top-bottom-40,.margin-l-top-bottom-50,.margin-l-top-bottom-60,.margin-l-top-bottom-70,.margin-l-top-bottom-80 {display: block;}
    .margin-l-top-0 {margin-top: 0 !important;}
    .margin-l-top-10 {margin-top: 10px !important;}
    .margin-l-top-15 {margin-top: 15px !important;} 
    .margin-l-top-20 {margin-top: 20px !important;} 
    .margin-l-top-30 {margin-top: 30px !important;} 
    .margin-l-top-40 {margin-top: 40px !important;}
    .margin-l-top-50 {margin-top: 50px !important;}
    .margin-l-top-60 {margin-top: 60px !important;}
    .margin-l-top-70 {margin-top: 70px !important; }
    .margin-l-top-80 {margin-top: 80px !important;}
    
    .margin-l-bottom-0 {margin-bottom: 0 !important;}
    .margin-l-bottom-10 {margin-bottom: 10px !important;}
    .margin-l-bottom-15 {margin-bottom: 15px !important;} 
    .margin-l-bottom-20 {margin-bottom: 20px !important;} 
    .margin-l-bottom-30 {margin-bottom: 30px !important;} 
    .margin-l-bottom-40 {margin-bottom: 40px !important;}
    .margin-l-bottom-50 {margin-bottom: 50px !important;}
    .margin-l-bottom-60 {margin-bottom: 60px !important;}
    .margin-l-bottom-70 {margin-bottom: 70px !important;}
    .margin-l-bottom-80 {margin-bottom: 80px !important;}
    
    .margin-l-top-bottom-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .margin-l-top-bottom-10 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .margin-l-top-bottom-15 {
        margin-top: 15px !important;
        margin-bottom: 15px !important; 
    } 
    .margin-l-top-bottom-20 {
        margin-top: 20px !important;
        margin-bottom: 20px !important; 
    } 
    .margin-l-top-bottom-30 {
        margin-top: 30px !important;
        margin-bottom: 30px !important; 
    } 
    .margin-l-top-bottom-40 {
        margin-top: 40px !important;
        margin-bottom: 40px !important; 
    }
    .margin-l-top-bottom-50 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .margin-l-top-bottom-60 {
        margin-top: 60px !important;
        margin-bottom: 60px !important; 
    } 
    .margin-l-top-bottom-70 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    } 
    .margin-l-top-bottom-80 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
    
    .margin-l-left-0 {margin-left: 0 !important;}
    .margin-l-left-10 {margin-left: 10px !important;}
    .margin-l-left-15 {margin-left: 15px !important;} 
    .margin-l-left-20 {margin-left: 20px !important;} 
    .margin-l-left-30 {margin-left: 30px !important;} 
    .margin-l-left-40 {margin-left: 40px !important;}
    .margin-l-left-50 {margin-left: 50px !important;}
    .margin-l-left-60 {margin-left: 60px !important;}
    .margin-l-left-70 {margin-left: 70px !important;}
    .margin-l-left-80 {margin-left: 80px !important;}
    .margin-l-right-0 {margin-right: 0 !important;}
    .margin-l-right-10 {margin-right: 10px !important;}
    .margin-l-right-15 {margin-right: 15px !important;} 
    .margin-l-right-20 {margin-right: 20px !important;} 
    .margin-l-right-30 {margin-right: 30px !important;} 
    .margin-l-right-40 {margin-right: 40px !important;}
    .margin-l-right-50 {margin-right: 50px !important;}
    .margin-l-right-60 {margin-right: 60px !important;}
    .margin-l-right-70 {margin-right: 70px !important;}
    .margin-l-right-80 {margin-right: 80px !important;}
    
    .text-l-size-12,.text-l-size-16,.text-l-size-20,.text-l-size-25,.text-l-size-30,.text-l-size-40,.text-l-size-50,.text-l-size-60,.text-l-size-70,.text-l-size-80,.text-l-size-90.text-l-size-100 {line-height: 1.4;}
    .text-l-size-12 {font-size: 12px !important;}
    .text-l-size-16 {font-size: 16px !important;}
    .text-l-size-20 {font-size: 20px !important;}
    .text-l-size-25 {font-size: 25px !important;}
    .text-l-size-30 {font-size: 30px !important;}
    .text-l-size-40 {font-size: 40px !important;}
    .text-l-size-50 {font-size: 50px !important;}
    .text-l-size-60 {font-size: 60px !important;}
    .text-l-size-70 {font-size: 70px !important;}    
    .text-l-size-80 {font-size: 80px !important;}
    .text-l-size-90 {font-size: 90px !important;}
    .text-l-size-100 {font-size: 100px !important;}   
}


/* -1120px version */
@media screen and (max-width:1120px) {
  .size-1140 .line.content-center-vertical {
      padding: 0 2rem;
  }
}


/* -768px version */
@media screen and (max-width:768px) {
    .top-nav .right {
      float: none;
    }
    .logo {
      max-width: 250px;
      margin: 0 auto;
    }
    .nav-text {
      color: #fff;
      display: block;
      font-size: 1.2rem;
      line-height: 3rem;
      margin-right: 0.625rem;
      max-width: 100%;
      text-align: center;
      vertical-align: middle;
    }
    .nav-text::after {
      color: #454545;
      display: inline-block;
      font-size: 3rem;
      margin-left: 0;
      margin-top: 30px;
    }
    .top-nav li a, .background-white .top-nav li a {
      background: #454545 none repeat scroll 0 0;
      color: #fff;
      font-size: 1.1em;
      padding: 1em;
      text-align: center;
    }
    aside {
        border: none;
        padding: 0;
    }
    aside.aside-left {
        border-right: 0;
        padding-right: 0;
    }
    .owl-nav, .owl-dots {
      display: none;
    }
    .carousel-main .owl-item img {
      max-width: 300%;
    	width:auto;
    }
    .margin-m-top {
      margin-top: 1.25rem !important;
      display: block;
    }
    .margin-m-bottom {
        margin-bottom: 1.25rem !important;
        display: block;
    }
    .margin-m-left {
        margin-left: 1.25rem !important;
    }
    .margin-m-right {
        margin-right: 1.25rem !important;
    }
    .margin-m-top-bottom {
        margin-top: 1.25rem !important;
        margin-bottom: 1.25rem !important;
    display: block;
    }
    .margin-m-left-right {
        margin-left: 1.25rem !important;
        margin-right: 1.25rem !important;
    }
    .margin-m-top-0,.margin-m-top-10,.margin-m-top-15,.margin-m-top-20,.margin-m-top-30,.margin-m-top-40,.margin-m-top-50,.margin-m-top-60,.margin-m-top-70,.margin-m-top-80,
    .margin-m-bottom-0,.margin-m-bottom-10,.margin-m-bottom-15,.margin-m-bottom-20,.margin-m-bottom-30,.margin-m-bottom-40,.margin-m-bottom-50,.margin-m-bottom-60,.margin-m-bottom-70,.margin-m-bottom-80,
    .margin-m-top-bottom-0,.margin-m-top-bottom-10,.margin-m-top-bottom-15,.margin-m-top-bottom-20,.margin-m-top-bottom-30,.margin-m-top-bottom-40,.margin-m-top-bottom-50,.margin-m-top-bottom-60,.margin-m-top-bottom-70,.margin-m-top-bottom-80 {display: block;}
    .margin-m-top-0 {margin-top: 0 !important;}
    .margin-m-top-10 {margin-top: 10px !important;}
    .margin-m-top-15 {margin-top: 15px !important;} 
    .margin-m-top-20 {margin-top: 20px !important;} 
    .margin-m-top-30 {margin-top: 30px !important;} 
    .margin-m-top-40 {margin-top: 40px !important;}
    .margin-m-top-50 {margin-top: 50px !important;}
    .margin-m-top-60 {margin-top: 60px !important;}
    .margin-m-top-70 {margin-top: 70px !important; }
    .margin-m-top-80 {margin-top: 80px !important;}
    
    .margin-m-bottom-0 {margin-bottom: 0 !important;}
    .margin-m-bottom-10 {margin-bottom: 10px !important;}
    .margin-m-bottom-15 {margin-bottom: 15px !important;} 
    .margin-m-bottom-20 {margin-bottom: 20px !important;} 
    .margin-m-bottom-30 {margin-bottom: 30px !important;} 
    .margin-m-bottom-40 {margin-bottom: 40px !important;}
    .margin-m-bottom-50 {margin-bottom: 50px !important;}
    .margin-m-bottom-60 {margin-bottom: 60px !important;}
    .margin-m-bottom-70 {margin-bottom: 70px !important;}
    .margin-m-bottom-80 {margin-bottom: 80px !important;}
    
    .margin-m-top-bottom-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .margin-m-top-bottom-10 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .margin-m-top-bottom-15 {
        margin-top: 15px !important;
        margin-bottom: 15px !important; 
    } 
    .margin-m-top-bottom-20 {
        margin-top: 20px !important;
        margin-bottom: 20px !important; 
    } 
    .margin-m-top-bottom-30 {
        margin-top: 30px !important;
        margin-bottom: 30px !important; 
    } 
    .margin-m-top-bottom-40 {
        margin-top: 40px !important;
        margin-bottom: 40px !important; 
    }
    .margin-m-top-bottom-50 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .margin-m-top-bottom-60 {
        margin-top: 60px !important;
        margin-bottom: 60px !important; 
    } 
    .margin-m-top-bottom-70 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    } 
    .margin-m-top-bottom-80 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
    
    .margin-m-left-0 {margin-left: 0 !important;}
    .margin-m-left-10 {margin-left: 10px !important;}
    .margin-m-left-15 {margin-left: 15px !important;} 
    .margin-m-left-20 {margin-left: 20px !important;} 
    .margin-m-left-30 {margin-left: 30px !important;} 
    .margin-m-left-40 {margin-left: 40px !important;}
    .margin-m-left-50 {margin-left: 50px !important;}
    .margin-m-left-60 {margin-left: 60px !important;}
    .margin-m-left-70 {margin-left: 70px !important;}
    .margin-m-left-80 {margin-left: 80px !important;}
    .margin-m-right-0 {margin-right: 0 !important;}
    .margin-m-right-10 {margin-right: 10px !important;}
    .margin-m-right-15 {margin-right: 15px !important;} 
    .margin-m-right-20 {margin-right: 20px !important;} 
    .margin-m-right-30 {margin-right: 30px !important;} 
    .margin-m-right-40 {margin-right: 40px !important;}
    .margin-m-right-50 {margin-right: 50px !important;}
    .margin-m-right-60 {margin-right: 60px !important;}
    .margin-m-right-70 {margin-right: 70px !important;}
    .margin-m-right-80 {margin-right: 80px !important;}
    
    .text-m-size-12,.text-m-size-16,.text-m-size-20,.text-m-size-25,.text-m-size-30,.text-m-size-40,.text-m-size-50,.text-m-size-60,.text-m-size-70,.text-m-size-80,.text-m-size-90.text-m-size-100 {line-height: 1.4;}
    .text-m-size-12 {font-size: 12px !important;}
    .text-m-size-16 {font-size: 16px !important;}
    .text-m-size-20 {font-size: 20px !important;}
    .text-m-size-25 {font-size: 25px !important;}
    .text-m-size-30 {font-size: 30px !important;}
    .text-m-size-40 {font-size: 40px !important;}
    .text-m-size-50 {font-size: 50px !important;}
    .text-m-size-60 {font-size: 60px !important;}
    .text-m-size-70 {font-size: 70px !important;}    
    .text-m-size-80 {font-size: 80px !important;}
    .text-m-size-90 {font-size: 90px !important;}
    .text-m-size-100 {font-size: 100px !important;}    
    .owl-nav {
      display: none;
    }
    .carousel-blocks, .carousel-3-blocks, .carousel-5-blocks {
      padding: 0;
    }
}  

/* -480px version */
@media screen and (max-width:480px) {
    .top-bar .right {
      float: none;
    }
    .top-bar-contact p {
      height: auto;
      line-height: 1.3rem;
      padding: 10px 0;
      text-align: center;
    }
    .top-bar-social.right {
      display: table;
      float: none;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
    .margin-s-top {
        margin-top: 1.25rem !important;
        display: block;
    }
    .margin-s-bottom {
        margin-bottom: 1.25rem !important; 
        display: block;
    }
    .margin-s-left {
        margin-left: 1.25rem !important;
    }
    .margin-s-right {
        margin-right: 1.25rem !important;
    }
    .margin-s-top-bottom {
        margin-top: 1.25rem !important;
        margin-bottom: 1.25rem !important;
        display: block;
    }
    .margin-s-left-right {
        margin-left: 1.25rem !important;
        margin-right: 1.25rem !important;
    }
    .margin-s-top-0,.margin-s-top-10,.margin-s-top-15,.margin-s-top-20,.margin-s-top-30,.margin-s-top-40,.margin-s-top-50,.margin-s-top-60,.margin-s-top-70,.margin-s-top-80,
    .margin-s-bottom-0,.margin-s-bottom-10,.margin-s-bottom-15,.margin-s-bottom-20,.margin-s-bottom-30,.margin-s-bottom-40,.margin-s-bottom-50,.margin-s-bottom-60,.margin-s-bottom-70,.margin-s-bottom-80,
    .margin-s-top-bottom-0,.margin-s-top-bottom-10,.margin-s-top-bottom-15,.margin-s-top-bottom-20,.margin-s-top-bottom-30,.margin-s-top-bottom-40,.margin-s-top-bottom-50,.margin-s-top-bottom-60,.margin-s-top-bottom-70,.margin-s-top-bottom-80 {display: block;}
    .margin-s-top-0 {margin-top: 0 !important;}
    .margin-s-top-10 {margin-top: 10px !important;}
    .margin-s-top-15 {margin-top: 15px !important;} 
    .margin-s-top-20 {margin-top: 20px !important;} 
    .margin-s-top-30 {margin-top: 30px !important;} 
    .margin-s-top-40 {margin-top: 40px !important;}
    .margin-s-top-50 {margin-top: 50px !important;}
    .margin-s-top-60 {margin-top: 60px !important;}
    .margin-s-top-70 {margin-top: 70px !important; }
    .margin-s-top-80 {margin-top: 80px !important;}
    
    .margin-s-bottom-0 {margin-bottom: 0 !important;}
    .margin-s-bottom-10 {margin-bottom: 10px !important;}
    .margin-s-bottom-15 {margin-bottom: 15px !important;} 
    .margin-s-bottom-20 {margin-bottom: 20px !important;} 
    .margin-s-bottom-30 {margin-bottom: 30px !important;} 
    .margin-s-bottom-40 {margin-bottom: 40px !important;}
    .margin-s-bottom-50 {margin-bottom: 50px !important;}
    .margin-s-bottom-60 {margin-bottom: 60px !important;}
    .margin-s-bottom-70 {margin-bottom: 70px !important;}
    .margin-s-bottom-80 {margin-bottom: 80px !important;}
    
    .margin-s-top-bottom-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .margin-s-top-bottom-10 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    .margin-s-top-bottom-15 {
        margin-top: 15px !important;
        margin-bottom: 15px !important; 
    } 
    .margin-s-top-bottom-20 {
        margin-top: 20px !important;
        margin-bottom: 20px !important; 
    } 
    .margin-s-top-bottom-30 {
        margin-top: 30px !important;
        margin-bottom: 30px !important; 
    } 
    .margin-s-top-bottom-40 {
        margin-top: 40px !important;
        margin-bottom: 40px !important; 
    }
    .margin-s-top-bottom-50 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .margin-s-top-bottom-60 {
        margin-top: 60px !important;
        margin-bottom: 60px !important; 
    } 
    .margin-s-top-bottom-70 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    } 
    .margin-s-top-bottom-80 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
    
    .margin-s-left-0 {margin-left: 0 !important;}
    .margin-s-left-10 {margin-left: 10px !important;}
    .margin-s-left-15 {margin-left: 15px !important;} 
    .margin-s-left-20 {margin-left: 20px !important;} 
    .margin-s-left-30 {margin-left: 30px !important;} 
    .margin-s-left-40 {margin-left: 40px !important;}
    .margin-s-left-50 {margin-left: 50px !important;}
    .margin-s-left-60 {margin-left: 60px !important;}
    .margin-s-left-70 {margin-left: 70px !important;}
    .margin-s-left-80 {margin-left: 80px !important;}
    .margin-s-right-0 {margin-right: 0 !important;}
    .margin-s-right-10 {margin-right: 10px !important;}
    .margin-s-right-15 {margin-right: 15px !important;} 
    .margin-s-right-20 {margin-right: 20px !important;} 
    .margin-s-right-30 {margin-right: 30px !important;} 
    .margin-s-right-40 {margin-right: 40px !important;}
    .margin-s-right-50 {margin-right: 50px !important;}
    .margin-s-right-60 {margin-right: 60px !important;}
    .margin-s-right-70 {margin-right: 70px !important;}
    .margin-s-right-80 {margin-right: 80px !important;}
    
    .text-s-size-12,.text-s-size-16,.text-s-size-20,.text-s-size-25,.text-s-size-30,.text-s-size-40,.text-s-size-50,.text-s-size-60,.text-s-size-70,.text-s-size-80,.text-s-size-90.text-s-size-100 {line-height: 1.4;}
    .text-s-size-12 {font-size: 12px !important;}
    .text-s-size-16 {font-size: 16px !important;}
    .text-s-size-20 {font-size: 20px !important;}
    .text-s-size-25 {font-size: 25px !important;}
    .text-s-size-30 {font-size: 30px !important;}
    .text-s-size-40 {font-size: 40px !important;}
    .text-s-size-50 {font-size: 50px !important;}
    .text-s-size-60 {font-size: 60px !important;}
    .text-s-size-70 {font-size: 70px !important;}    
    .text-s-size-80 {font-size: 80px !important;}
    .text-s-size-90 {font-size: 90px !important;}
    .text-s-size-100 {font-size: 100px !important;}  
}  

/* Typography */
.text-uppercase {
  text-transform: uppercase;
  line-height: 1;
}
.text-line-height-1 {
  line-height: 1;
}


/* Custom Template Styles */
/* Containers */ 
.section  { 
  padding: 7rem 1.25rem;
}
.section-top-padding  { 
  padding: 7rem 1.25rem 0  1.25rem;
}
.section-block { 
  padding: 7rem 2.5rem;
}
.section-block-2x { 
  padding: 7rem 5rem;
}
.text-padding {
  display: inline-block !important;
  padding: 15px 20px;
}
.text-padding-small {
  display: inline-block !important;
  padding: 7px 10px;
}               

#map {
  width: 100%;
  height: 600px;
}

@media screen and (max-width:768px) {
  .block-same-height {
    display: block;
  }
  .section-block-2x { 
    padding: 7rem 2.5rem;
  }
}  
.margin-left-150 {
  margin-left: 150px;
}
.margin-top-130 {
  margin-top: 130px!important;
}


body, p {
  font-weight: 300;
  font-family: "Poppins";
  font-size: 12pt;
  color: black;
} 
.background-white, .background-white p, a.background-white, .background-white a, .background-white a:link, .background-white a:visited, .background-white a:hover, .background-white a:active {
  color: #999;
}
h1, .h1 {
  font-weight: 100;
  font-family: "Poppins";
}
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 200;
  font-family: "Poppins";
}
.background-grey h1, .background-grey h2, .background-grey h3, .background-grey h4, .background-grey h5, .background-grey h6, .background-grey .h1, .background-grey .h2, .background-grey .h3, .background-grey .h4, .background-grey .h5, .background-grey .h6 {
  color: #454545;
}
.text-extra-thin {font-weight: 100;}
.text-thin {font-weight: 200;}
b, strong, .text-strong {font-weight: 700;}
.text-extra-strong {font-weight: 900;}

.text-drop-cap {
  font-size: 75px;
  line-height: 55px;
  padding-right: 10px;
  padding-top: 10px;
  font-weight: 700;
  color: #454545;
}

blockquote:before {
  display:none;
}
blockquote {
  border-left: 2px dotted #454545;
  padding: 30px;
  margin: 40px 0;
  color: #454545;
  border-right: 2px dotted #454545;
}
blockquote cite {
  margin-top: 10px;
  color: #999;
}
hr.break {
  border-top: 2px dotted #454545;
  background: none!important;
  background-color: none!important;
}  

/* Breaks */
hr.break-small.break-center {
    margin: 25px auto;
}
hr.break-small {
  background: none!important;
  background-color: none!important;
  border-top: 2px dotted #454545;
  width: 90px;
}
hr.break {
  background: none!important;
  background-color: none!important;
  border-top: 2px dotted #454545;
}
hr.break.background-white, .primary-color-white hr.break-small.background-primary {
  background: none!important;
  background-color: none!important;
  border-top: 2px dotted #fff;
}
hr.break.background-primary, .primary-color-primary hr.break.background-primary {
  background: none!important;
  background-color: none!important;
  border-top: 2px dotted #28a5df;
}
hr.break.background-dark, .primary-color-dark hr.break.background-primary {
  background: none!important;
  background-color: none!important;
  border-top: 2px dotted #454545;
}

header.position-absolute {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.top-bar {
  padding: 0 2rem;
}
.top-bar-social li {
  border-left: 0 solid;
}
nav {
  border-bottom: 0;
  padding: 25px 0;
  position: relative;
  z-index: 2;
}
.logo-dark {
  display:none;
}
nav.fixed, .fixed nav {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0 2em;
}
nav.fixed .top-nav li a, .fixed nav .top-nav li a {
  color: #444;  
}
nav.fixed .logo-white, .fixed nav .logo-white {
  display:none;
}
nav.fixed .logo-dark, .fixed nav .logo-dark {
  display:block;
  width: 60px;
}  
nav.fixed .left-menu, nav.fixed .right-menu {
    padding: 0;
}
.background-transparent {
  background: none;
}  
.custom-button {
  margin-top: 200px;
  margin-bottom: -20px;
  position: relative;
  z-index: 1;
}

.right-menu,.left-menu,.logo-menu {
  float: left;
}
.logo-menu {
  width: 100px;
}
.left-menu, .right-menu {
  padding-top: 20px;
  width: calc(50% - 50px);
}
.logo img {
  margin: 0 auto;
  width: 88px;
  position: relative;
  top: 12px;
}
.top-nav li a {
  color: #fff;
  font-weight: 400;
  padding: 1.5rem;
  position: relative;
  text-transform: uppercase;
  transition: all 0.20s linear 0s;
-o-transition: all 0.20s linear 0s;
-ms-transition: all 0.20s linear 0s;
-moz-transition: all 0.20s linear 0s;
-webkit-transition: all 0.20s linear 0s;
} 

.top-nav ul ul {
  background: #fff none repeat scroll 0 0;
}
.top-nav li ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.top-nav li ul li:last-child {
  border-bottom: 0;
}
.top-nav li ul li a, .background-white .top-nav li ul li a, .top-nav .active-item li a {
  background: #fff none repeat scroll 0 0;
  color: rgba(0,0,0, 0.75);
}
.top-nav .active-item a, .top-nav li a:hover {
  background: none;
}
.top-nav > ul > li > a::before {
  width: 6px;
  height: 6px;
  display: block;
  background: #fff;
  content: "";
  border-radius: 10px;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  margin-left: -4px;
  bottom: 15px;
  opacity: 0;
	transition:all 0.20s linear 0s;
  -o-transition:all 0.20s linear 0s;
  -ms-transition:all 0.20s linear 0s;
  -moz-transition:all 0.20s linear 0s;
  -webkit-transition:all 0.20s linear 0s;
}
.top-nav > ul > li > a:hover::before, .top-nav > ul > li.active-item > a::before {
	bottom: 10px;
	opacity: 1;
}

/* Menu dott color */
.background-white-dott .top-nav > ul > li > a::before, .primary-color-white .background-primary-dott .top-nav > ul > li > a::before {background: #fff none repeat scroll 0 0;}
.background-primary-dott .top-nav > ul > li > a::before, .primary-color-primary .background-primary-dott .top-nav > ul > li > a::before {background: #28a5df none repeat scroll 0 0;} 
.background-dark-dott .top-nav > ul > li > a::before, .primary-color-dark .background-primary-dott .top-nav > ul > li > a::before {background: #434343 none repeat scroll 0 0;}

/* Menu font color */
.background-white-dott .top-nav > ul ul li.active-item > a, .primary-color-white .background-primary-dott .top-nav > ul ul li.active-item > a,
.background-white-dott .top-nav > ul ul li > a:hover, .primary-color-white .background-primary-dott .top-nav > ul ul li > a:hover {color: #fff !important;}
.background-primary-dott .top-nav > ul ul li.active-item > a, .primary-color-primary .background-primary-dott .top-nav > ul ul li.active-item > a,
.background-primary-dott .top-nav > ul ul li > a:hover, .primary-color-primary .background-primary-dott .top-nav > ul ul li > a:hover {color: #28a5df !important;} 
.background-dark-dott .top-nav > ul ul li.active-item > a, .primary-color-dark .background-primary-dott .top-nav > ul ul li.active-item > a,
.background-dark-dott .top-nav > ul ul li > a:hover, .primary-color-dark .background-primary-dott .top-nav > ul ul li > a:hover {color: #434343 !important;}

/* Custom form */
.customform input, .customform textarea {
  border: 0 !important;
  background: rgba(0,0,0,0.04) !important;
}
.customform .required {
  border-left: 2px dotted #dd442c !important;
}

/* Aside Navigation */
.aside-nav > ul > li > a:hover, .aside-nav > ul > li.active-item > a:link, .aside-nav > ul > li.active-item > a:visited {
  border-width: 0 0 0 1px;
  left: -1px;
  padding-left: 20px;
  position: relative;
}
section, header {
  position:relative;
}
.frame-block {
  padding: 50px;
  border: 10px #fff solid;
}
.arrow-object {
  position: absolute;
  bottom: -1px;
  width: 100%;
  left: 0;
} 
@media screen and (max-width:480px) {
  .aside-nav li a {text-align: left;}
}
/* Portfolio Tabs */
.tab-nav.line {
  padding-bottom: 2rem;
}
.tab-item {
  background: none;
}
a.tab-label, a.tab-label:link, a.tab-label:visited, a.tab-label:hover, .background-white a.tab-label, .background-white a.tab-label:link, .background-white a.tab-label:visited, .background-white a.tab-label:hover {
  background: none;
}

/* Carousel Navigation*/
.owl-dots {
  margin-top: 1.25rem;
}
.owl-carousel .owl-dot span { 
  background: #434343;
  height: 7px;
  margin: 0 3px;
  width: 7px;
  border-radius: 10px;
  filter: Alpha(Opacity=30);
  opacity: 0.3;  
}
.background-dark .owl-carousel .owl-dot span {
  background: #fff;
}
.owl-carousel.text-left .owl-dots {
    text-align: left;
}
.owl-carousel .owl-nav div {
  border: 0 none;
  color: #C9C9C9 !important;
  font-family: sli;
  font-size: 20px;
  height: auto;
  line-height: 0;
  width: auto;
}
.owl-carousel .owl-nav .owl-prev {
    left: 10px;
}
.owl-carousel .owl-nav .owl-next {
    right: 10px;
}
.carousel-nav-white.owl-carousel .owl-nav div {
  border: 0;
}
.carousel-main .owl-item img.arrow-object {
  width: 100% !important;
}

/* Buttons */
.button, a.button, a.button:link, a.button:visited {
  border: 0;
}
.owl-carousel .owl-item .image-testimonial-small {
  margin: 0 auto 20px;
  width: auto;
}

/* Tabs */
a.tab-label.active-btn {
  color: #fff!important;
}

@media screen and (max-width:768px) {
  header.position-absolute {
    background: #fff none repeat scroll 0 0;
    position: relative;
  }
  nav {
    padding: 10px 0;
  }
  .logo img {
    margin: 0 auto;
    max-width: 300px;
  }
  .logo img.logo-white {
    display:none;
  }
  .logo img.logo-dark {
    display:block;
  }
  .nav-text::after {
    color: #454545;
  }
  .nav-text {
    margin-right: 0;
  }
  .fixed {
    position: relative;
    z-index: 10;
  }
  .fixed .nav-text::after {
    color: #454545;
  }
  .top-nav li a,.top-nav li ul li a {
    border-top: 1px solid #f5f5f5;
    color: #777;
    opacity: 1;
  }
  .top-nav li a, .background-white .top-nav li a {
    background: #fff none repeat scroll 0 0;
    font-size: 1.1em;
    padding: 1em;
  }
  .top-nav li ul li a {
    background: #f5f5f5!important;
  }
  nav.fixed .top-nav li a, .fixed nav .top-nav li a, .top-nav li a:hover {
    color: #777;  
  }
  nav.fixed, .fixed nav {
    padding: 0;
  }
  .logo-menu a.logo {
    display: none;
  }
  .left-menu, .right-menu {
    width: 100%;
    padding-top: 0;
  }
  .margin-top-130 {
    margin-top: 0!important;
  }
  .padding-3x {
    padding: 30px !important;
  }
} 
