<div fxLayoutAlign="center center">
    <button mat-button [matMenuTriggerFor]="cartMenu" #cartMenuTrigger="matMenuTrigger"
            class="flex-row-button">
        <mat-icon class="mat-icon-lg w3-text-orange" style="font-size: 17pt;">shopping_cart</mat-icon>
        <span *ngIf="(cartSandbox.cartlistCount$ | async) > 0" class="cart-items-count">{{cartSandbox.cartlistCount$ | async}}</span>
<!--        <div fxLayout="column" fxLayoutAlign="center center" fxShow="false" fxShow.gt-xs-->
<!--             class="top-cart">-->
<!--            <span>{{'Shared.ShoppingCart'|translate}}</span>-->
<!--            <span *ngIf="(cartSandbox.cartlistCount$ | async) > 0">{{cartSandbox.cartlistCount$ | async}} item<span-->
<!--                    *ngIf="(cartSandbox.cartlistCount$ | async) > 1">s</span> - -->
<!--                                <span>{{(cartSandbox.totalCartPrice$ | async) | currency:'INR':'symbol-narrow' }}</span>-->
<!--                            </span>-->
<!--        </div>-->
<!--        <mat-icon class="mat-icon-sm">arrow_drop_down</mat-icon>-->
    </button>
    <mat-menu #cartMenu="matMenu" [overlapTrigger]="false" xPosition="before"
              class="top-menu-dropdown cart-dropdown">
                        <span (mouseleave)="cartMenuTrigger.closeMenu()" class="d-block">
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted">
                                <b><span>{{cartSandbox.cartlistCount$ | async}} {{'Shared.ITEM'|translate}}<span
                                        *ngIf="(cartSandbox.cartlistCount$ | async) > 1">S</span></span></b>
                                <b><a [routerLink]="['/cart']" class="text-muted">{{'Shared.VIEWCART'|translate}}</a></b>
                            </div>
                            <div class="divider mt-1"></div>
                            <div *ngIf="(cartSandbox.cartlistCount$ | async) == 0" class="py-1 text-muted text-center">{{'Shared.YouHaveNoItemsInYourShoppingCart'|translate}}</div>
                            <mat-list (click)="$event.stopPropagation()">
                                <mat-list-item *ngFor="let product of cartSandbox.cartlist$ | async">
                                    <h3 matLine class="text-muted"> {{product.name}} </h3>
                                    <p matLine class="text-muted">
                                        <span> {{product.productCount}} x {{product.price | currency:'USD':'symbol-narrow' }}</span>
                                    </p>
                                    <button mat-icon-button color="warn" class="remove"
                                            (click)="remove(product)" matTooltip="{{'Shared.Remove'|translate}}"
                                            matTooltipPosition="before">
                                        <mat-icon class="mat-icon-sm">close</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                            <div *ngIf="(cartSandbox.cartlistCount$ | async) > 0" class="cart-dropdown-footer">
                                <div class="divider mt-1"></div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted mt-1">
                                    <b>{{'Shared.TOTAL'|translate}}</b>
                                    <b class="new-price">{{(cartSandbox.totalCartPrice$ | async) | currency:'USD':'symbol-narrow' }}</b>
                                </div>
                                <div class="divider mt-1"></div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-1">
                                    <button mat-mini-fab color="warn" (click)="clear()"
                                            matTooltip="{{'Shared.ClearAll'|translate}}" matTooltipPosition="after">
                                        <mat-icon>remove_shopping_cart</mat-icon>
                                    </button>
                                    <a (click)="checkoutPage()" mat-mini-fab color="primary" matTooltip="{{'Shared.Checkout'|translate}}"
                                       matTooltipPosition="before">
                                        <mat-icon>check</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </span>
    </mat-menu>
</div>
