<mat-sidenav-container style="padding: 1% 18% 1% 18%;">
    <mat-sidenav #sidenav  style="border-style: none!important;" [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="filter-sidenav "
                 perfectScrollbar>
        <app-spurt-product-filter (progressEmit)="receiveProgress($event)" [isClickedData]="isClicked"></app-spurt-product-filter>
    </mat-sidenav>
    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
             class="filter-row mat-elevation-z1 text-muted" >
            <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <div>
                <a mat-button [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger">
                    {{sortData}}
                    <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #sortMenu="matMenu" xPosition="before" class="app-dropdown" overlapTrigger="true">
                    <span (mouseleave)="sortMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let sort of sortings" (click)="changeSorting(sort)">
                            <span>{{sort.order}}</span>
                        </button>
                    </span>
                </mat-menu>
            </div>
            <div>
                <button mat-icon-button (click)="changeViewType('list', 100)">
                    <mat-icon>view_list</mat-icon>
                </button>
                <button mat-icon-button (click)="changeViewType('grid', 33.3)">
                    <mat-icon>view_module</mat-icon>
                </button>
                <button mat-icon-button (click)="changeViewType('grid', 25)">
                    <mat-icon>view_comfy</mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="viewType == 'grid'" fxLayout="row wrap" class="products-wrapper">
            <div class="wrapper" *ngIf="listSandbox.productLoading$ | async">
                <div class="overlay">
                    <div class="spinner-wrapper">
                        <app-spinner style="margin-left: 50%;margin-top: 10%;" [isShow]="listSandbox.productLoading$ | async"></app-spinner>
                    </div>
                </div>
            </div>
            <div *ngFor="let product of (listSandbox.productlist$ | async)"
                 fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="col" style="padding: 5%;">
                <div class="product-item text-center  ">
                    <mat-chip-list *ngIf="product.discount">
                        <mat-chip color="warn" selected="true">{{product.discount}}% OFF</mat-chip>
                    </mat-chip-list>
                    <a [routerLink]="['/products/productdetails', product.productId]" class="image-link">
                        <img *ngIf="product['Images'].defaultImage == 1" style="height:200px" class="  card-hover "
                             [src]="imagePath+ '?width=260&height=260&path=' + product['Images'].containerName + '&name=' + product['Images'].image"
                             alt="">
                    </a>
<!--                    <h6 class="category text-muted text-truncate " style="font-size: 18px;">{{product.metaTagTitle }}</h6>-->
                    <a [routerLink]="['/products/productdetails', product.productId]" class="title text-truncate" style="font-size: 16px;    padding: 0px 40px;">
                        {{product.name}}
                    </a>
<!--                    <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">-->
<!--                        <div fxLayout="column" fxLayoutAlign="center start">-->
<!--                            <p class="new-price" style="color:#a6a6b5">{{product.price | currency:'INR':'symbol-narrow'}}</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="divider mt-2"></div>-->
                    <div class="icons" style="padding: 0px 0px 0px 0px;">
                        <app-controls style="float:left;" [product]="product"  [type]="'all'"
                                      (OpenProductDialog)="openProductDialog(product)"></app-controls>
                        <b class="new-price" style="color:#a6a6b5;float:right;margin-top: 10px;">{{product.price | currency:'USD':'symbol-narrow'}}</b>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="viewType == 'list'" fxLayout="row wrap" class="products-wrapper" >
            <div *ngFor="let product of (listSandbox.productlist$ | async) | paginate: { itemsPerPage: count, currentPage: page }"
                 fxFlex="100" class="col">
                 <mat-card class="product-item" style="height:90%">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="40" class="p-2">
                            <mat-chip-list *ngIf="product.discount" class="list-view">
                                <mat-chip color="warn" selected="true">{{product.discount}}% OFF</mat-chip>
                            </mat-chip-list>
                            <a [routerLink]="['/products/productdetails', product.productId]" class="image-link ">
                                <img *ngIf="product.Images" class=" card-hover " style="height: 200px;"
                                     [src]="imagePath + '?width=280&height=280&path=' + product.Images.containerName + '&name=' + product.Images.image"
                                     alt="">
                            </a>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="60" class="p-2">
                            <h4 class="category text-muted">{{product.metaTagTitle}}</h4>
                            <a [routerLink]="['/products/productdetails', product.productId]" class="title">
                                {{product.name}}
                            </a>
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                                <div fxLayout="column" fxLayoutAlign="center start">
                                    <p class="new-price">{{product.price | currency:'USD':'symbol-narrow'}}</p>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="icons">
                                <app-controls [product]="product"
                                              (OpenProductDialog)="openProductDialog(product)"></app-controls>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div *ngIf="(listSandbox.productLoaded$ | async) && (listSandbox.productlist$ | async)?.length == 0" fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="90" class="p-2">
                <p style="margin-left: 50%;margin-top:10%;color:gray">No Results Found</p>
            </div>
        </div>
        <div *ngIf="(listSandbox.productlist$ | async)?.length > 0" fxLayout="row wrap">
            <div fxFlex="100">
                <mat-card class="p-0 text-center">
<!--                    <mat-paginator-->
<!--                            [length]="listSandbox.productcount$|async"-->
<!--                            [pageSize]="pagesize"-->
<!--                            [pageIndex]="index"-->
<!--                            [pageSizeOptions]="[9,15,21]"-->
<!--                            (page)="onPageChange($event)">-->
<!--                    </mat-paginator>-->

                    <!--<pagination-controls class="product-pagination" autoHide="false" maxSize="5"-->
                                         <!--(pageChange)="onPageChanged($event)"></pagination-controls>-->
                </mat-card>
                <div class="w3-bar" style="text-align: center">
<!--                    <a (click)="onPageChange('first')"  class="w3-btn w3-orange" style="margin-left: 1%;">«</a>-->
<!--                    <a (click)="onPageChange('pre')"  style="margin-left: 1%;" class="w3-btn w3-orange"><</a>-->
<!--&lt;!&ndash;                    <a  class="w3-button">2</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a  class="w3-button">3</a>&ndash;&gt;-->
<!--                    <a (click)="onPageChange('next')"  class="w3-btn w3-orange"  style="margin-left: 1%;">></a>-->
<!--                    <a  (click)="onPageChange('last')" class="w3-btn w3-orange"  style="margin-left: 1%;">»</a>-->
                    <button  (click)="onPageChange('first')" id="btnfirst"  class="  pag  " style="margin-left: 1%;text-decoration: none; "><i class="glyphicon glyphicon-menu-left"  style="font-size: 9pt;"></i></button>
                    <button class=" pag" id="btn{{item}}" [ngClass]="{'w3-orange':pageIndex == item}" style="margin-left: 1%;text-decoration: none; " (click)="onPageChange(item)"  *ngFor="let item of collection" >{{item + 1}}</button>
                    <button  (click)="onPageChange('last')" id="btnlast" class="pag   "  style="margin-left: 1%; text-decoration: none;"><i class="glyphicon glyphicon-menu-right" style="font-size: 9pt;"></i></button>
                </div>
            </div>
        </div>


    </mat-sidenav-content>
</mat-sidenav-container>
<input type="hidden" id="total" value="{{listSandbox.productcount$ | async}}" >
