<p class="text-muted">{{'account.Hello'|translate}} <b>{{'account.EmilioVerdines'|translate}}</b>
    {{'account.FromYourMyAccount..'|translate}}</p>

<div fxLayout="row wrap" class="flex-wrapper">
    <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="col">
        <mat-card class="p-0 card-hover heightChanged" >
          <mat-card-header class="p-1 account-card-title" fxLayoutAlign="space-between center">
              <mat-card-title class="m-0"><h3>{{'account.AccountInformation'|translate}}</h3></mat-card-title>
              <a mat-icon-button routerLink="/account/information"><mat-icon class="text-muted">edit</mat-icon></a>
          </mat-card-header>
          <div class="divider"></div>
          <mat-card-content class="p-2 text-muted account-card-content">
              <p>{{(commonSandbox.getProfile$ | async)?.firstName}}</p>
              <p>{{(commonSandbox.getProfile$ | async)?.email}}</p>
              <p><a routerLink="/account/information" class="primary-text">{{'account.ChangePassword'|translate}}</a></p>
          </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="col">
        <mat-card class="p-0 card-hover">
          <mat-card-header class="p-1 account-card-title" fxLayoutAlign="space-between center">
              <mat-card-title class="m-0"><h3>{{'account.Addresses'|translate}}</h3></mat-card-title>
              <a mat-icon-button ><mat-icon class="text-muted">edit</mat-icon></a>
          </mat-card-header>
          <div class="divider"></div>
          <mat-card-content class="p-2 text-muted account-card-content">
            <p>{{'account.BillingAddress'|translate}}</p>
            <p>{{'account.ShippingAddress'|translate}}</p>
          </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100" class="col">
        <mat-card class="p-0 card-hover">
          <mat-card-header class="p-1 account-card-title" fxLayoutAlign="space-between center">
              <mat-card-title class="m-0"><h3>{{'account.Orders'|translate}}</h3></mat-card-title>
              <a mat-icon-button routerLink="/account/orders"><mat-icon class="text-muted">edit</mat-icon></a>
          </mat-card-header>
          <div class="divider"></div>
          <mat-card-content class="p-2 text-muted account-card-content">
            <p class="">{{'account.Completed'|translate}}</p>
            <mat-progress-bar value="75" color="primary"></mat-progress-bar>
            <p class="mt-1">{{'account.Processing'|translate}}</p>
            <mat-progress-bar value="25" color="accent"></mat-progress-bar>
            <p class="mt-1">{{'account.OnHold'|translate}}</p>
            <mat-progress-bar value="65" color="warn"></mat-progress-bar>
            <p class="mt-1">{{'account.Refunded'|translate}}</p>
            <mat-progress-bar value="25" color="gray"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
    </div>
</div>
