<div class="row" style="background: #222430;margin-bottom: 5%;margin-top: 5%;">
    <div class="col-md-6 col-xs-6">
        <div class="row" style="
    padding: 10%;">
            <h1 style="color: white;
    font-family: -webkit-body;
    text-align: center;
    font-weight: 100;
    font-size: 27pt;">Our Story
                <div style="    border-bottom: 2px solid #fff;
    padding-top: 25px;
    width: 36px;
    margin: 0 auto;"></div>
            </h1>
            <div style="    word-wrap: break-word;
    color: #9ca0a1;
    font-family: -webkit-body;
    font-size: 15px;
    line-height: 210%;
    padding: 31px 23px;
    text-align: center;">
                Shenzhen Hidin Tech was foounded in 2013 and located in Shenzhen;
                we have around 150 employees with most advanced R&D team, sales team and also owns manufacturing
                factory, The products are widely sold over 50 countries and regions mainly in Asia, Europe and north
                America, with product sertificatoins such as UL, ETL,FCC,CE, rohs
                etc.
            </div>
            <div class="link"><a style="    display: block;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    background: #fec107;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 15px;
    text-transform: uppercase;">Read More</a></div>
        </div>
    </div>
    <div class="col-md-6 col-xs-6">
        <div class="row">
            <img src="assets/images/others/blog.jpg" alt="blog img"/>
        </div>
    </div>
</div>


<!--<div class="brands-carousel">-->
<!--    <div class="swiper-container h-100" [swiper]="config">-->
<!--        <div class="swiper-wrapper h-100">-->
<!--            <div *ngFor="let brand of brands" class="swiper-slide">-->
<!--                <div class="p-0">-->
<!--                    <a class="brand-item">-->
<!--                        <img [attr.data-src]="imagePath +'?width=160&height=150&path=' + brand.imagePath + '&name=' + brand.image" class="swiper-lazy">-->
<!--                    </a>-->
<!--                    <div class="swiper-lazy-preloader"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>-->
<!--        <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>-->
<!--    </div>-->
<!--</div>-->
