
<mat-accordion displayMode="flat" multi="true">
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4 style="font-size: 14pt;">{{'products.Categories'|translate}}</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="categories-wrapper categories-dropdown" perfectScrollbar>
            <app-category-list
                               [isClicked]="isClickedData" [categories]="listSandbox.categoryList$ | async"
                                (change)="onChangeCategory($event)"></app-category-list>

        </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>{{'products.Price'|translate}}</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted">
            <span>{{'products.From'|translate}} <b>{{priceFrom}}</b></span>
            <span>{{'products.To'|translate}} <b>{{priceTo}}</b></span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="filter-price">
            <mat-slider color="primary" max="1000" min="0" thumb-label="true" [(ngModel)]="priceFrom"
                        (ngModelChange)="selectPrice()"></mat-slider>
            <mat-slider color="warn" [max]="(listSandbox.maxProductPrice$ | async)?.maximumProductPrice" [min]=1000
                        thumb-label="true" [(ngModel)]="priceTo" (ngModelChange)="selectPrice()"></mat-slider>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>{{'products.Condition'|translate}}</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
            <form [formGroup]='radioForm'>
                <mat-radio-group matInput formControlName='radio'>
                    <mat-radio-button
                            *ngFor="let condition of conditions"
                            color="primary"
                            (change)="changeCondition($event, condition.value)"
                            [value]="condition.value"
                    >{{condition.option}}
                    </mat-radio-button>
                </mat-radio-group>
            </form>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>{{'products.Brands'|translate}}</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="filter-brands">
            <button class='card-hover' mat-raised-button *ngFor="let brand of listSandbox.manufacturer$ | async"
                    (click)="selectBrand(brand.manufacturerId)"
                    [ngClass]="{'changeShadowColor': brandId == brand.manufacturerId }">
                <img [src]=" imagePath + '?width=80&height=80&path='+ brand.imagePath + '&name='+ brand.image"/>
            </button>
        </div>
    </mat-expansion-panel>

</mat-accordion>
