<!DOCTYPE html>
<html>
<head>
	<title> Template</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> 
	<style type="text/css">
		body { font-family: 'Roboto', sans-serif; background: #f5f5f5;  }
	</style>
</head>
<body>
<div width="100%" style="margin:0px 0 0 0;background:#f5f5f5">
    <center style="width:100%;text-align:left;background:#f5f5f5;padding-bottom: 25px;"> 	
    	


 
        <table style="margin:0 auto;background:#f5f5f5;padding-top:0px;border-bottom: solid;" class="m_-5907332182002236281m_-1691394256282030723email-container" width="580" cellspacing="0" cellpadding="0" border="0" align="center">        
		  
			   
				<tbody>

					<tr>
						<td>
							<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="padding: 15px 0;background: #078e05;">
								<tbody><tr>
									<td dir="ltr" style="text-align:center;" valign="top">
									 <img src="./logo.png">
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>

					<tr>
							<td dir="ltr" width="100%" valign="top" align="center" style="padding: 0px;"  style="background: #fff;">
								<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="background: #fff;">
							<tbody>

					<tr>
					<td dir="ltr" width="100%" valign="top" align="center" style="padding: 0px;"  style="background: #fff;">
						<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="background: #fff;">
							<tbody><tr>
                                
									<td class="m_-5907332182002236281m_-1691394256282030723stack-column-center" width="100%" style=" padding: 15px; ">
										<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
											<tbody>
											<tr>
												<td dir="ltr" style="padding:0 0px;color:#000;font-weight:400;text-align:left;font-size:16px;line-height:1.5rem;padding-top:10px;font-family: 'Roboto', sans-serif;" valign="top">
               
								<%- emailContent %>
								<% if(productDetailData){ %>
									<tr>
										<td class="m_-5907332182002236281m_-1691394256282030723stack-column-center" width="100%" style=" padding: 0 10px; ">
											<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="border-bottom: solid 2px #333;">
												<tbody>
												<tr>
													<td dir="ltr" style="padding:0 0px;color:#000;font-weight:400;text-align:left;font-size:16px;line-height:1.5rem;font-family: 'Roboto', sans-serif;" valign="top"> Order Id: <%= orderData.orderId %>
													</td>
													<td dir="ltr" style="padding:0 0px;color:#000;font-weight:400;text-align:right;font-size:16px;line-height:1.5rem;font-family:'Roboto',sans-serif;" valign="top"> Order Date :
														 <%= today%>
													</td>
												</tr>								
												</tbody>
											</table>
										</td>
									</tr>
		
									<tr>
										<td class="m_-5907332182002236281m_-1691394256282030723stack-column-center" width="100%" style=" padding: 0 10px; ">
											<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
												<tbody>
												<tr>
													<td dir="ltr" width="60%" valign="top"> 
														<h3 style="padding:10px 0px 0;color:#000;font-weight:400;text-align:left;font-size:14px;line-height:1.5rem;font-family: 'Roboto', sans-serif;">Customer Information</h3>
														<p style="font-size: 13px;margin: 0;color: #000;padding-bottom: 5px;"> <%= orderData.shippingFirstname %> <%= orderData.shippingLastname %> </p>
														<a href="javascript:void(0)"  style="font-size: 13px;margin: 0;color: #000;padding-bottom: 5px;display: block;color:#003ad8;"> <%= orderData.email %> </a>
														<a href="javascript:void(0)"  style="font-size: 13px;margin: 0;color: #000;padding-bottom: 5px;display: block;color:#003ad8;"> +<%= orderData.telephone %> </a>
													</td>
													<td dir="ltr" style="padding: 0px 0px 0 0px;color:#000;text-align:left;font-weight:300; font-size:12px;line-height:1.5rem;font-family: 'Roboto', sans-serif;" valign="top"> 
														<h3 style="padding:10px 0px 0	;color:#000;font-weight:400;text-align:left;font-size:14px;line-height:1.5rem;font-family: 'Roboto', sans-serif;">Billing Address</h3> 
														<p style="font-size: 13px;margin: 0;color: #000;padding-bottom: 5px;font-weight: 400"> <%= orderData.shippingAddress1 %>, <%= orderData.shippingCity %>, <%= orderData.shippingCountry %>,<%= orderData.shippingPostcode %>. </p>
													</td>
												</tr>								
												</tbody>
											</table>
										</td>
									</tr>	
								<tr>
									<td class="m_-5907332182002236281m_-1691394256282030723stack-column-center" width="100%" style=" padding: 10px; ">
										<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
											<tbody>
												<tr>
													<td dir="ltr" valign="top" style="font-size:15px;color:#000;border-top:solid thin #ddd;border-bottom:solid thin #ddd;padding:10px 10px;"> Products Name </td>
													<td dir="ltr" valign="top" style="font-size:15px;color:#000;border-top:solid thin #ddd;border-bottom:solid thin #ddd;padding:10px 10px;text-align: center;"> Qty </td>
													<td dir="ltr" valign="top" style="font-size:15px;color:#000;border-top:solid thin #ddd;border-bottom:solid thin #ddd;padding:10px 10px;text-align: right;"> Price </td>
												</tr>	
												<% for(var n=0; n < productDetailData.length ; n++) { %>
												<tr>
													<td dir="ltr" valign="top" style="font-size:15px;color:#000;border-bottom:solid thin #ddd;padding:15px 10px;"> 
														<span  style="display: inline-block;width: 50px;padding:10px;border: solid thin rgb(172, 66, 66);text-align: center;"><img src="https://s3.amazonaws.com/spurtcommercetest/<%=productDetailData[n].productImage.containerName%><%= productDetailData[n].productImage.image%>" style="width: auto; max-width:100%;"></span> 
														<span style="display: inline-block;vertical-align: top;font-size: 14px;padding:5px 5px;"> <%= productDetailData[n].productInformatiomData.name %> </span>
													</td>
													<td dipir="ltr" valign="top" style="font-size:15px;color:#000;border-bottom:solid thin #ddd;padding:15px 10px;text-align: center;"> <%= productDetailData[n].productInformatiomData.quantity %> </td>
													<td dir="ltr" valign="top" style="font-size:15px;color:#333;border-bottom:solid thin #ddd;padding:15px 10px;text-align: right;"> $<%= productDetailData[n].productInformatiomData.total %> </td>
												</tr>	
												<% } %>
												<tr>
													<td dir="ltr" valign="top" style="font-size:15px;color:#000;border-bottom:solid 0px #ddd;padding:15px 10px;"> 
														
													</td>
													<td dir="ltr" valign="top" style="font-size:13px;color:#000;border-bottom:solid 0px #ddd;padding:15px 10px;text-align: right;font-weight: 300;"> Sub Total </td>
													<td dir="ltr" valign="top" style="font-size:14px;color:#333;border-bottom:solid 0px #ddd;padding:15px 10px;text-align: right;"> $<%= orderData.total %> </td>
												</tr>	
												<tr>
													<td dir="ltr" valign="top" style="font-size:13px;color:#000;border-bottom:solid 0px #ddd;padding:5px 10px;">  </td>
													<td dir="ltr" valign="top" style="font-size:13px;color:#000;border-bottom:solid 0px #ddd;padding:5px 10px;text-align: right;font-weight: 300;"> Taxes </td>
													<td dir="ltr" valign="top" style="font-size:14px;color:#333;border-bottom:solid 0px #ddd;padding:5px 10px;text-align: right;"> $ 0 </td>
												</tr>	
	
												<tr>
													<td dir="ltr" valign="top" style="font-size:15px;color:#000;border-bottom:solid 0px #ddd;padding:15px 10px;"> 
														
													</td>
													<td dir="ltr" valign="top" style="font-size:15px;color:#000;border-bottom:solid 0px #ddd;padding:15px 10px;text-align: right;font-weight: 400;"> Total Amount </td>
													<td dir="ltr" valign="top" style="font-size:15px;color:#000;border-bottom:solid 0px #ddd;padding:15px 10px;text-align: right;"> $<%= orderData.total %> </td>
												</tr>						
											</tbody>
										</table>
									</td>
								</tr>
							<% } %>
								
						<table style="Margin:auto" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
					<br>
					<br>
                <tr>
                  <td style="border-radius:3px;background:#2856b6;text-align:center" class="m_-2195465710535294947m_-2105386732584480426button-td">
                    <a href="http://spurtcommerce.com" style="background:#07582a;border:15px solid #07582a;padding:0 10px;color:#ffffff;font-family:sans-serif;font-size:14px;line-height:1.5;text-align:center;text-decoration:none;display:block;border-radius:3px;font-weight:bold" class="m_-2195465710535294947m_-2105386732584480426button-a" rel="noopener" target="_blank" data-saferedirecturl="">
                      KEEP BROWSING
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>

						

							<tr>
                                
								<td class="m_-5907332182002236281m_-1691394256282030723stack-column-center" width="100%" style=" padding: 15px; ">
									<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
										<tbody>
									
										<tr>
											<td dir="ltr" style="padding:0 0px;color:#000;font-weight:300;text-align:left;font-size:12px;line-height:1.2rem;padding-top:10px;font-family: 'Roboto', sans-serif;" valign="top"> 
										</tr>									
										</tbody>
									</table>
								</td>                                
							</tr>

              <tr>
                                
								<td class="m_-5907332182002236281m_-1691394256282030723stack-column-center" width="100%" style="padding: 20px 10px; ">
									<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="">
										<tbody>
											<tr>
												<td> <p style="font-size: 12px;color:#000;font-weight: 300;margin-top:5px;margin-bottom: 0;">Thanks & Regards,</p> </td>
											</tr>
											<tr>
											<td style="padding:0 0px;color:#000;text-align:left;padding-top:0px;font-family: 'Roboto', sans-serif;">
												<h4 style="font-size: 16px;color:#000;font-weight: 300;margin:0;">Spurtcommerce</h4>
											</td>
										</tr>
									</tbody></table>
								</td>
								
                                
							</tr>


							
                       
                          
                          
                            
						</tbody></table>
					</td>
				</tr>
				
			     
                
		
        </tbody></table>
        
        
      
        
        
        
        
        

    </center>
    <div class="yj6qo"></div>
    <div class="adL"></div>
</div>
</body>
</html>



