<div *ngIf="products && products.length>0" class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper h-100">
        <div *ngFor="let product of products" class="swiper-slide" >
            <mat-card class="product-item" style="border: 1px solid #eeeeee;">
                <mat-chip-list *ngIf="product.discount">
                    <mat-chip color="warn" selected="true">{{product.discount}}% OFF</mat-chip>
                </mat-chip-list>
                <a [routerLink]="['/products/productdetails', product.productId]" class="title text-truncate" style="margin-bottom: 25px;margin-top: 10px;color:black!important;">
                    {{product.name}}
                </a>
                <a [routerLink]="['/products/productdetails', product.productId]" class="image-link card-hover">
                    <img *ngIf= 'product.image' style="height: 200px;width: 50%;" [attr.data-src]="imagePath + '?width=260&height=260&path=' + product.image.containerName + '&name=' + product.image.image" style="height:200px" class="swiper-lazy " alt=""/>
                        <div class="swiper-lazy-preloader"></div>
                </a>

                <div >
                    <div >
                        <p class="new-price">{{product.price | currency:'USD':'symbol-narrow'}}</p>
                    </div>
                </div>
<!--                <div class="divider mt-2"></div>-->
                <div class="icons">
                    <app-controls [product]="product" (OpenProductDialog)="openProductDialog(product)"></app-controls>
                </div>
            </mat-card>
        </div>
    </div>
    <button mat-mini-fab class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-mini-fab class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>
