<mat-toolbar-row fxLayoutAlign="space-between center" class="top-toolbar theme-container" style="margin-bottom: 25px!important;float:right!important;">
<!--    <span fxShow="false" fxShow.gt-xs fxLayoutAlign="center center"><mat-icon-->
<!--            class="mat-icon-sm">call</mat-icon> {{'Shared.Hotline'|translate}} </span>-->
<!--    <span fxShow="false" fxShow.gt-sm style="display: block;-->
<!--    font-size: 17pt;-->
<!--    font-family: auto;-->
<!--    color: white;">{{'Shared.WelcomeToOurMarket'|translate}}</span>-->
    <app-top-menu></app-top-menu>
</mat-toolbar-row>
