
<footer class=" footer" style="background:#222430;">
    <div class="row">
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-3 border-bottom-mute theme-container col-md-8 col-xs-8" style="margin-left: 18%;">

        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="30" ngClass.xs="mt-2" *ngIf="(listSandbox.settingDetail$ | async) as contact">
<!--            <h6 class="col-title"  style="color:#fdc107;font-family: auto;font-size: 16pt;">{{'Shared.CONTACTINFORMATION'|translate}}</h6>-->
            <h6 class="col-title"  style="color:#fdc107;font-family: auto;font-size: 16pt;">contact us</h6>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-2 secondary-color">
                <mat-icon style="color: #fdc11c;" class="mr-1">location_on</mat-icon>
                <span style="color: #818183;">{{contact.storeAddress}}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                <mat-icon style="color: #fdc11c;" class="mr-1">call</mat-icon>
                <span style="color: #818183;">{{contact.storeTelephone}}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                <mat-icon style="color: #fdc11c;" class="mr-1">mail_outline</mat-icon>
                <span style="color: #818183;">{{contact.storeEmail}}</span>
            </p>

        </div>
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="30" class="useful-links">
            <!--            <h6 class="col-title" style="color:#fdc107;font-family: auto;font-size: 16pt;">{{'Shared.USEFULLINKS'|translate}}</h6>-->
            <h6 class="col-title" style="color:#fdc107;font-family: auto;font-size: 16pt;">products</h6>

            <p fxLayout="row" class="mt-2" *ngFor="let links of listSandbox.pageList$ | async"
               [routerLink]="['/page-detail', links.pageId]">
                <a style="color: #818183;width: 100px;" href="javascript:void(0);"
                   class="link secondary-color" *ngIf="links.pageId != 138">{{links.title}}</a></p>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" ngClass.sm="mt-2" ngClass.xs="mt-2" *ngIf="(listSandbox.settingDetail$ | async) as contact">
<!--            <h6 class="col-title"  style="color:#fdc107;font-family: auto;font-size: 16pt;">{{'Shared.SOCIALMEDIA'|translate}}</h6>-->
            <h6 class="col-title"  style="color:#fdc107;font-family: auto;font-size: 16pt;">about us</h6>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color" [routerLink]="['/page-detail/133']">
                <a  style="color: #818183;width: 100px;" href="javascript:void(0);" class="link secondary-color">ABOUT US</a></p>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" ngClass.sm="mt-2" ngClass.xs="mt-2" *ngIf="(listSandbox.settingDetail$ | async) as contact">
<!--            <h6 class="col-title"  style="color:#fdc107;font-family: auto;font-size: 16pt;">{{'Shared.SOCIALMEDIA'|translate}}</h6>-->
            <h6 class="col-title"  style="color:#fdc107;font-family: auto;font-size: 16pt;">contact us</h6>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color"  >
                <a  style="color: #818183;width: 100px;" href="javascript:void(0);" class="link secondary-color">Contact Us</a></p>
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color"  >
                <a  style="color: #818183;width: 100px;" href="javascript:void(0);" class="link secondary-color">Technology</a></p>
         </div>
        <div fxFlex="100" *ngIf="(listSandbox.settingDetail$ | async) as contact">
            <h6 class="col-title"  style="color:#fdc107;font-family: auto;float:left;margin-right: 3%;font-size: 16pt;">{{'Shared.SOCIALMEDIA'|translate}}</h6>
            <div>
                <div   style="    width: 160px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #ddd;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;
    background: #fff;float:left;">
                    <div   style="height: 100%;"><a  title="" ><img alt="" src="assets/images/others/partner1.png" style="width: 40%;"><em></em></a></div>
                </div>
                <div  style="    width: 160px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #ddd;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;
    background: #fff;float:left;">
                    <div  style="height: 100%;"><a   title="" class="pic_box"><img alt="" style="width: 40%;" src="assets/images/others/partner2.png"><em></em></a></div>
                </div>
                <div   style="    width: 160px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #ddd;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;
    background: #fff;float:left;">
                    <div   style="height: 100%;"><a  title="" class="pic_box"><img alt="" style="width: 40%;" src="assets/images/others/partner1.png"><em></em></a></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright secondary-color theme-container">
        <p ngClass.xs="mt-1"  style="color: #818183;" class="copyright">{{'Shared.Copyright'|translate}}

            <a   class="link secondary-color">  <i class="fa fa-facebook" style=""></i> </a>
            <a  class="link secondary-color">  <i class="fa fa-google"></i>  </a>
            <a   class="link secondary-color "><i class="fa fa-twitter"></i> </a>
        </p>
    </div>
</footer>
