<div *ngIf="shape !=='btn'" fxLayout="row" fxLayout.xs="column" [fxLayoutAlign]="align" class="text-muted">
    <div *ngIf="type==='detail'">
        <span>Quantity:</span>
        <button mat-icon-button matTooltip="Remove" (click)="changeCount('remove')"><mat-icon>remove</mat-icon></button>
        <span> {{quantity}} </span>
        <button mat-icon-button matTooltip="Add" (click)="changeCount('add')"><mat-icon>add</mat-icon></button>
    </div>
    <div >
        <button mat-icon-button matTooltip="Add to wishlist" (click)="addToWishList(product);isWish[product]='warn'"><mat-icon color="isWish[product]">favorite</mat-icon></button>
        <button mat-icon-button matTooltip="Add to cart" (click)="addToCart(product)"><mat-icon>shopping_cart</mat-icon></button>
        <button *ngIf="type==='all'" mat-icon-button matTooltip="Quick view" (click)="openProductDialog(product)"><mat-icon>remove_red_eye</mat-icon></button>
    </div>

</div> 
<div *ngIf="product?.availibilityCount == 0 && type=='all'" class="bg-warn p-1 mt-2">
    Sorry, this item is unavailable. Please choose a different one.
</div>
<!--<div *ngIf="shape==='btn'">-->
<!--    <button mat-icon-button matTooltip="Add to wishlist" (click)="addToWishList(product);isWish[product]='warn'"><mat-icon color="isWish[product]">favorite</mat-icon></button>-->
<!--&lt;!&ndash;    <button mat-icon-button matTooltip="Add to cart" (click)="addToCart(product)"><mat-icon>shopping_cart</mat-icon></button>&ndash;&gt;-->
<!--    <button (click)="addToCart(product)"  class=" " style="width: 150px;-->
<!--    height: 45px;-->
<!--    background: #3c3939;-->
<!--    color: white;-->
<!--    font-size: 14pt;-->
<!--    font-family: auto;border:none;">add to cart</button>-->
<!--    <button *ngIf="type==='all'" mat-icon-button matTooltip="Quick view" (click)="openProductDialog(product)"><mat-icon>remove_red_eye</mat-icon></button>-->

<!--</div>-->
<div *ngIf="shape ==='btn'" fxLayout="row" fxLayout.xs="column" [fxLayoutAlign]="align" class="text-muted">
    <div *ngIf="type==='detail'">
        <span>Quantity:</span>
        <button mat-icon-button matTooltip="Remove" (click)="changeCount('remove')"><mat-icon>remove</mat-icon></button>
        <span> {{quantity}} </span>
        <button mat-icon-button matTooltip="Add" (click)="changeCount('add')"><mat-icon>add</mat-icon></button>
    </div>
    <div >
        <button mat-icon-button matTooltip="Add to wishlist" (click)="addToWishList(product);isWish[product]='warn'"><mat-icon color="isWish[product]">favorite</mat-icon></button>
<!--        <button mat-icon-button matTooltip="Add to cart" (click)="addToCart(product)"><mat-icon>shopping_cart</mat-icon></button>-->
        <button (click)="addToCart(product)"  class=" " style="width: 150px;
    height: 45px;
    background: #3c3939;
    color: white;
    font-size: 14pt;
    font-family: auto;border:none;">add to cart</button>
        <button *ngIf="type==='all'" mat-icon-button matTooltip="Quick view" (click)="openProductDialog(product)"><mat-icon>remove_red_eye</mat-icon></button>
    </div>

</div>
