<div fxLayout="row wrap" style="padding: 0% 18%;">
    <div fxFlex="100" fxFlex.gt-md="55" fxFlex.md="45" class="col-md-12 col-xs-12">
        <div class="  col-md-3 col-xs-12">
            <div  >
                <div >
                    <mat-card [ngClass]="{'border-select' : productImageId == image. productImageId }" *ngFor="let image of (productDetail.productDetails$ | async)?.productImage"    style="margin-top: 1%;width: 100px;height: 100px;">
                        <div style="text-align: center;"
                                (click)="selectImage(image)"
                                class=""
                                [ngClass]="{'changeShadowColor' : productImageId == image. productImageId }">
                            <div style="overflow: hidden;">
                            <img style="height: 65px;" [src]="imagePath + '?width=60&height=60&path=' + image.containerName + '&name=' + image.image" /></div><!--                            <div class="swiper-lazy-preloader"></div>-->
                        </div>
                    </mat-card>
                </div>
<!--                <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>-->
<!--                <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>-->
            </div>
        </div>
        <div class="col-md-9 col-xs-9">
        <mat-card class="product-image"  style="width: 100%;height: 400px;">
            <button mat-icon-button (click)="openZoomViewer()" fxHide="false" fxHide.gt-md><mat-icon>fullscreen</mat-icon></button>
            <img  style="height: 350px;"
             *ngIf="image" 
             [src]="image" 
             (mousemove)="onMouseMove($event)"
             (mouseleave)="onMouseLeave($event)"/>
        </mat-card>
        </div>

    </div>

    <div  fxFlex="100" fxFlex.gt-md="45" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
         <!-- <img [src] = 'zoomImage' > -->
        <div #zoomViewer fxShow="false" fxShow.gt-md *ngIf="zoomImage">
            <!-- <img [src] = 'zoomImage' > -->
            <div style="position: fixed;z-index: 9999"
             *ngIf="zoomImage"
             class="zoom-viewer" 
             [ngStyle]="{'background-image': 'url(' + zoomImage + ')'}">
            </div>
        </div>

        <h4>{{(productDetail.productDetails$ | async)?.name}}</h4>
<!--        <div class="py-1 lh">-->
<!--            <p><span class="text-muted fw-500">Category: </span><span *ngIf="(productDetail.productDetails$ | async)?.Category[0]">{{(productDetail.productDetails$ | async)?.Category[0].categoryName}}</span></p>-->
<!--            <p><span class="text-muted fw-500">Availibility: </span><span>Available</span></p>-->
<!--        </div>                 -->
        <div class="py-1 lh">

        </div>
        <div class="py-1">
            <span class="mt-2"><a href="#" class="link secondary-color" target="_blank">  <i class="fa fa-facebook"></i> </a></span>
            <span class="mt-2"><a href="#" class="link secondary-color" target="_blank">  <i class="fa fa-twitter"></i> </a></span>
            <span class="mt-2"><a href="#" class="link secondary-color" target="_blank">  <i class="fa fa-linkedin"></i> </a></span>
            <span class="mt-2"><a href="#" class="link secondary-color" target="_blank">  <i class="fa fa-pinterest"></i> </a></span>
            <span class="mt-2"><a href="#" class="link secondary-color" target="_blank">  <i class="fa fa-stumbleupon"></i> </a></span>
        </div>

<!--        <div class="divider mt-1"></div>-->
        <h2 class="py-2 new-price">{{((productDetail.productDetails$ | async)?.price) | currency:'USD':'symbol-narrow'}}</h2>


        <div class="py-1">
            <app-controls [product]="productDetail.productDetails$ | async" [type]="'detail'" [shape]="'btn'"></app-controls>
<!--            <button   class=" " style="width: 150px;-->
<!--    height: 45px;-->
<!--    background: #3c3939;-->
<!--    color: white;-->
<!--    font-size: 14pt;-->
<!--    font-family: auto;border:none;">INQUIRY</button>-->
        </div>

<!--        <div class="divider"></div>-->

<!--        <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted py-1">-->
<!--            <button mat-button><mat-icon>mail_outline</mat-icon> Email to a Friend</button>-->
<!--            <button mat-icon-button><mat-icon>share</mat-icon></button>-->
<!--        </div>-->

    </div>
<!--    <div fxFlex="100" fxFlex.gt-md="20" fxHide fxShow.gt-md> -->

<!--        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-0">-->
<!--            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">-->
<!--                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">-->
<!--                    <mat-icon class="mat-icon-xlg text-muted m-0">card_giftcard</mat-icon>-->
<!--                    <div class="content">-->
<!--                        <p>BONUS PLUS</p> -->
<!--                        <span class="text-muted m-0">Make fun of shopping and collect bonuses</span>-->
<!--                    </div> -->
<!--                </mat-card> -->
<!--            </div>-->
<!--            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50" class="mt-16"> -->
<!--                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">-->
<!--                    <mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon>-->
<!--                    <div class="content">-->
<!--                        <p>FREE SHIPPING</p> -->
<!--                        <span class="text-muted m-0">Free shipping on all orders over $99</span>-->
<!--                    </div> -->
<!--                </mat-card>-->
<!--            </div>-->
<!--            <div fxFlex="100" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> -->
<!--                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">-->
<!--                    <mat-icon class="mat-icon-xlg text-muted m-0">monetization_on</mat-icon>-->
<!--                    <div class="content">-->
<!--                        <p>MONEY BACK GUARANTEE</p> -->
<!--                        <span class="text-muted m-0">30 Days money return guarantee</span>-->
<!--                    </div> -->
<!--                </mat-card>-->
<!--            </div>-->
<!--            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50" class="mt-16"> -->
<!--                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">-->
<!--                    <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon>-->
<!--                    <div class="content">-->
<!--                        <p>ONLINE SUPPORT 24/7</p> -->
<!--                        <span class="text-muted m-0">Call us: (+100) 123 456 7890</span>-->
<!--                    </div> -->
<!--                </mat-card>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
</div>

<div fxLayout="row wrap" class="mt-2" style="padding: 0% 18%;">
    <div fxFlex="100" fxFlex.gt-md="78" fxFlex.md="74">
        <div style="margin-bottom: 100px;">
            <mat-tab-group [@.disabled]="true" [selectedIndex]="0">       
                <mat-tab label="Description" >
                    <div class="full-desc lh" >
                        <p [innerHtml] ='(productDetail.productDetails$ | async)?.description' ></p>
                       
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id nulla metus. Maecenas commodo turpis dui, porttitor tincidunt enim mollis a. Curabitur eu velit mi. Nullam congue turpis id metus sollicitudin, id cursus nulla laoreet. Proin commodo eu felis at malesuada. Nulla ac facilisis justo, eget vulputate ex. Nulla nec laoreet nulla. Cras auctor leo at diam congue, quis convallis urna pulvinar. Nunc ut mi nulla. Nunc ligula massa, vulputate sed scelerisque sit amet, dapibus semper est. Sed sed blandit turpis. Vestibulum id porttitor ligula, at iaculis ligula. Pellentesque vel tellus sit amet mauris aliquet bibendum id et lorem.</p>-->
                        <!--<ul class="px-2 mt-1">-->
                            <!--<li>Phasellus eu justo dictum, varius eros ut, posuere sapien.</li>-->
                            <!--<li>Nulla eu erat sit amet enim lobortis rhoncus.</li>-->
                            <!--<li>Etiam eu mauris in massa convallis ornare non id ex.</li>-->
                            <!--<li>Nam sagittis augue at pretium pharetra.</li>-->
                            <!--<li>Sed a sem id massa egestas porta a sit amet felis.</li>-->
                            <!--<li>Duis aliquam urna in sapien cursus consequat.</li>-->
                        <!--</ul>-->
                        <!--<p class="mt-1">Duis eu felis ultricies urna pharetra efficitur nec non elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur posuere eu justo eget mollis. Sed semper accumsan urna vel rutrum. Nulla condimentum quis lacus ut semper. Quisque at massa pretium, porta ligula ut, rutrum elit. Pellentesque et orci sit amet dolor laoreet tempor sed eu sem. Morbi lacinia pellentesque tellus euismod eleifend.</p>-->
                        <!--<p class="mt-1">Quisque fringilla eros id ligula luctus, a gravida augue sodales. Sed eget augue ut lectus condimentum volutpat. Morbi quis nunc viverra, gravida arcu quis, varius metus. Praesent tincidunt ipsum est, quis molestie ligula efficitur ut. Nunc interdum erat eu tortor maximus suscipit. Vivamus nec laoreet dui. Nullam dignissim laoreet metus quis pretium.</p>-->
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
<!--    <div fxFlex="100" fxFlex.gt-md="22" fxFlex.md="26" ngClass.gt-sm="pl-3" fxHide fxShow.gt-sm>-->
<!--        <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%201" alt="" class="mw-100 d-block">-->
<!--        <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%202" alt="" class="mw-100 d-block mt-3">-->
<!--        <img src="https://via.placeholder.com/400x310/EEEEEE/9E9E9E/?text=Banner%203" alt="" class="mw-100 d-block mt-3">-->
<!--    </div>-->
</div>

<!--<div class="py-2 mt-2">-->
<!--    <h2>Related Products</h2>-->
<!--&lt;!&ndash;    <div class="divider"></div>&ndash;&gt;-->
<!--    <app-products-carousel [products]="productDetail.relatedProducts$ | async"></app-products-carousel>-->
<!--</div>-->


