<mat-sidenav-container style="border-style: none!important;">

    <mat-sidenav style="border-style: none!important;" [opened]="false" mode="over" #sidenav class="sidenav mat-elevation-z6">
        <app-spurt-side-bar style="border-style: none!important;"></app-spurt-side-bar>
    </mat-sidenav>


<!--    <mat-toolbar    color="primary">-->
<!--&lt;!&ndash;    <mat-toolbar   style="position: fixed;z-index: 9999;" >&ndash;&gt;-->
<!--&lt;!&ndash;        <app-spurt-header class="head" style="position: fixed;z-index: 9999;"></app-spurt-header>&ndash;&gt;-->
<!--        <app-spurt-header class="head" ></app-spurt-header>-->
<!--    </mat-toolbar>-->

    <mat-toolbar color="primary"  style="padding: 60px 65px 20px 0px;background: white;">
<!--    <mat-toolbar color="primary" style="position: fixed;z-index: 9999;top: 63px;">-->
        <app-spurt-header-menu [categories]="listSandBox.categoryList$ | async" class="head" ></app-spurt-header-menu>
<!--        <app-spurt-header-menu [categories]="listSandBox.categoryList$ | async" class="head" style="position: fixed;z-index: 9999;"></app-spurt-header-menu>-->
    </mat-toolbar>
    <app-menu id="orig_navbar" fxShow="" fxShow.gt-sm [categories]="listSandBox.categoryList$ | async" ></app-menu>
    <app-menu id="navbar_menu" fxShow.gt-sm [categories]="listSandBox.categoryList$ | async" ></app-menu>
<!--    <app-menu data-spy="affix" data-offset-top="140"  fxShow="false" fxShow.gt-sm [categories]="listSandBox.categoryList$ | async" ></app-menu>-->


    <div class="theme-container main">
        <app-breadcrumb></app-breadcrumb>
        <router-outlet></router-outlet>
    </div>
    <app-options></app-options>

    <app-footer></app-footer>

    <div *ngIf="showBackToTop" fxLayout="row" fxLayoutAlign="center center" class="back-to-top transition"
         (click)="scrollToTop()">
        <mat-icon>arrow_upward</mat-icon>
    </div>


</mat-sidenav-container>

