.main{
  min-height: 400px;
  min-height: calc(100vh - 288px);
  padding-left:0px;
  padding-right:0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sidenav{
  width: 250px;
  padding: 8px 16px;
  position: fixed;
  .close{
    margin-left: 178px;
  }
  .divider{
    margin: 8px 0;
  }
}

.head {
  width: 100%;
}
